<template>
  <div class="container" v-if='showPage'>
    <div class="main">
      <div class="qm-mod">
        <div class="qm-mod-th">
          <h2 class="tit">我的关注</h2>
        </div>
        <div class="qm-mod-tb">
          <div class="empty" v-if="empty">
            <div class="byte-empty serial-empty">
              <div class="byte-empty-wrapper">
                <div class="byte-empty-image">
                  <img
                    alt="还没有创建过书本"
                    src="https://p1.pstatp.com/origin/pgc-image/a576470baaa745b3b410a4ddf25517b1"
                  />
                </div>
                <div class="byte-empty-description">还没有关注作者</div>
              </div>
            </div>
          </div>
          <ul class="qm-pic-txt pic-150-200 auto" size="middle">
            <li v-for='(authorInfo, index) in authorInfoItems' :key="index">
              <div class="author-info">
                <img class="author-img" :src="authorInfo.authorImg" />
                <div class="author-name">
                  <span class="author-logo"></span>
                  <a @click="goToAuthorInfo(authorInfo.authorId)"
                    ><span>{{ authorInfo.authorName }}</span></a
                  >
                </div>
                <div class="author-desc">
                  <span>{{ authorInfo.authorDesc }}</span>
                </div>
                <button
                  class="subscription cancelSubscription"
                  @click="changeSubscriptionStatus(authorInfo.authorId)"
                >
                 取消关注
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
      class="byte-pagination muye-stack-pagination byte-pagination-size-default"
    >
      <div class="byte-pagination-option">
        <el-pagination
          background
          layout="prev, pager, next"
          @current-change="changePageFrom"
          :total="totalSize"
          :page-size="pageSize"
          :pager-count="pagerCount"
          :hide-on-single-page="true"
          :current-page="currentPage"
        >
        </el-pagination>
      </div>
    </div>
    </div>
    <div class='bottom'></div>
  </div>
</template>

<script>
import callCommand from '../../utils/callCommand';
import globalVal from '../../utils/globalVal';
export default {
  data() {
    return {
      authorInfoItems: [],
      subscriptionStatus: 0,
      showPage: false,
      totalSize: 0,
      pageSize: 12,
      pageFrom: 0,
      currentPage: 1,
      pagerCount: 5,
      empty: false,
    };
  },
  methods:{
    changePageFrom(val){
      this.showPage = false;
      this.pageFrom = (val - 1 ) * this.pageSize;
      this.currentPage = val;
      var command = `$get-my-subscription --userId '${globalVal.userId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`
      callCommand(command).then(res =>{
          this.authorInfoItems = res.data.data.authorInfoItems;
          this.totalSize = res.data.data.totalSize;
          this.showPage = true;
      })
    },
    changeSubscriptionStatus(authorId){
        var command = `$subscription-author --userId '${globalVal.userId}' --authorId '${authorId}' --subscription 0`;
        callCommand(command).then(res => {
            this.getMySubscription();
        })
    },
    goToAuthorInfo(authorId){
        this.$router.push({path: '/author', query: {'authorId': authorId}});
    },
    getMySubscription(){
        var command = `$get-my-subscription --userId '${globalVal.userId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
      callCommand(command).then(res => {
          var data = res.data.data;
          if (data.totalSize == 0){
              this.empty = true;
              this.authorInfoItems = [];
          }else{
              this.totalSize = data.totalSize;
              this.authorInfoItems = data.authorInfoItems;
          }
          this.showPage = true;
      })
    }
  },
  mounted(){
      this.getMySubscription();
  }
};
</script>

<style lang='scss' scoped>
.main{
    width: 1220px;
    margin: 15px 15px;
    min-height: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}
button{
    outline: none;
}
.qm-mod-th{
  width: 95%;
  margin-left: 20px;
  border-bottom: solid 1px #f1f1f1;
  height: 64px;
  line-height: 64px;
}

.tit{
    padding-left: 20px;
    font-size: 20px;
    color: #353535;
    float: left;
    font-weight: 300;
    font-family: SourceHanSerifCN-Bold;
}

li{
    outline: none;
    display: inline;
    float: left;
}
.author-info {
  width: 204px;
  min-height: 250px;
  float: right;
  text-align: center;
  margin: 20px 35px;
  position: relative;
  font-size: 0;
  background-color: white;
  border-radius: 5px;
  border: solid 1.5px rgb(230, 230, 230)
}

.author-info:hover{
    border: solid 1.5px rgb(255, 133, 133);
    box-shadow: 0 4px 10px 0 rgba(255, 100, 100, 0.3);
}

.author-img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
}

.author-logo {
  display: inline-block;
  width: 47px;
  height: 20px;
  background-size: 100% 100%;
  background-image: url("../../assets/author.png");
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.author-name {
  font-size: 22px;
  height: 30px;
  line-height: 30px;
  margin-top: 12px;
  color: black;
}

.author-name:hover {
  color: rgb(253, 110, 75);
}

.author-desc {
  margin: 8px auto 0;
  font-size: 12px;
  height: 30px;
  line-height: 17px;
  width: 174px;
  color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subscription {
  border-radius: 4px;
  font-size: 16px;
  margin: 20px 0;
  height: 36px;
  width: 84px;
  line-height: 34px;
  padding: 0;
  border: 1px solid;
  background-color: transparent;
}

.addSubscription {
  border-color: #fa6725;
  color: #fa6725;
}

.addSubscription:hover {
  background-color: rgb(247, 194, 176);
}

.cancelSubscription {
  border-color: #b1b0b0;
  color: #cecdcd;
}

.cancelSubscription:hover {
  background-color: rgb(190, 189, 189);
  color: rgb(235, 235, 235);
}

.bottom{
    width: 100%;
    height: 100px;
}

.empty {
    text-align: center;
    padding-top: 180px;
}

.byte-empty {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
.byte-empty-wrapper {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #c2c6cc;
}
.byte-empty .byte-empty-wrapper .byte-empty-image {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 4px;
}
.byte-empty .byte-empty-wrapper img {
    height: 150px;
}
.book-table .empty .byte-empty-description {
    margin-top: -2px;
    color: #a4a4a4;
}

ul{
    width: 100%;
    overflow: hidden;
}
.muye-stack-pagination.byte-pagination {
    padding-top: 62px;
    justify-content: center;
}
.byte-pagination {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
</style>