<template>
  <div class="container" v-if="showPage">
    <div class="main">
      <div class="qm-mod">
        <div class="qm-mod-th">
          <h2 class="tit-create"><a @click="pre()"><span class='left-icon'></span>创建作品</a></h2>
        </div>
      </div>
      <div>
        <div class="create-container">
          <div class="left-cover-container">
            <div class="cover-image">
              <div class="wrap-inner">
                <div
                  class="canvasCover"
                  style="
                    max-width: 704px;
                    max-height: 300px;
                    display: flex;
                    flex-wrap: wrap;
                  "
                ><canvas class="hidden" width="360" height="480"></canvas>
                  <div class="canvasContainer" style="margin-left: 0px">
                    <div
                      class="inlineCover"
                      style="margin-left: 0px; width: 2190px"
                    >
                      <div
                        class="showCanvas"
                        style="
                          width: 121px;
                          height: 160px;
                          overflow: hidden;
                          margin-bottom: 0px;
                          margin-right: 26px;
                        "
                      >
                        <div
                          style="
                            width: 100%;
                            height: 160px;
                            overflow: hidden;
                            border-radius: 12px;
                            position: relative;
                            z-index: 6;
                          "
                        >
                        <img :src='imageUrl'/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <el-upload
                class="upload-demo"
                action="https://jsonplaceholder.typicode.com/posts/"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload"
                :show-file-list="showFileList"
            >
                <button
                class="byte-btn byte-btn-default byte-btn-size-default byte-btn-shape-square serial-button"
                type="button"
                style="border: none; margin-top: 13px"
                >
                <span>选择封面</span>
                </button>
            </el-upload>
          </div>
          <form
            class="byte-form form byte-form-horizontal byte-form-size-default"
          >
            <div
              class="byte-row input-hint byte-form-item byte-form-layout-horizontal"
            >
              <div class="byte-form-label-item byte-col byte-col-3">
                <label><strong>*</strong> 书本名称</label>
              </div>
              <div class="byte-form-item-wrapper byte-col byte-col-21">
                <div class="byte-form-item-control-wrapper">
                  <div class="byte-form-item-control" id="name">
                    <div class="byte-form-item-control-children">
                      <div>
                        <div
                          class="serial-input serial-input-len-suffix byte-input-group-wrapper byte-input-group-wrapper-default byte-input-has-suffix"
                          style="width: 621px"
                        >
                          <span class="byte-input-group"
                            ><span class="byte-input-inner-wrapper"
                              ><el-input
                                maxlength="15"
                                placeholder="请输入作品名称"
                                class="byte-input-size-default byte-input"
                                :class="bookNameErrorTip? 'byte-input-error': 'byte-input-normal'"
                                v-model='bookName'
                                @blur="onblurBookName()"
                                @focus='onfocusBookName()'
                                show-word-limit
                              /><span class="suffix"
                                ></span
                              ></span
                            ></span
                          >
                        </div>
                        <div class="info-wrap">
                          <span
                            class="create-input-icon tomato-circle-info"
                          ></span>
                        </div>
                        <p class="name-warn-label">{{bookNameErrorTip}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="byte-row target-wrap byte-form-item byte-form-layout-horizontal"
            >
              <div class="byte-form-label-item byte-col byte-col-3">
                <label><strong>*</strong> 目标读者</label>
              </div>
              <div class="byte-form-item-wrapper byte-col byte-col-21">
                <div class="byte-form-item-control-wrapper">
                  <div class="byte-form-item-control">
                    <div class="byte-form-item-control-children">
                      <div
                        class="byte-radio-group byte-radio-size-default byte-radio-mode-outline"
                      >
                        <label class="byte-radio"
                          >
                            <el-radio v-model="object" label="1">男频</el-radio>
                            <el-radio v-model="object" label="2">女频</el-radio>
                        </label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="byte-row cate-wrap byte-form-item byte-form-layout-horizontal"
            >
              <div class="byte-form-label-item byte-col byte-col-3">
                <label><strong>*</strong> 作品分类</label>
              </div>
              <div class="byte-form-item-wrapper byte-col byte-col-21">
                <div class="byte-form-item-control-wrapper">
                  <div class="byte-form-item-control">
                    <div class="byte-form-item-control-children">
                      <div class="select-row">
                        <el-select v-model="tags" multiple placeholder="最多可选择三个分类" size='medium' :multiple-limit='3'>
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="byte-row textarea byte-form-item byte-form-layout-horizontal"
            >
              <div class="byte-form-label-item byte-col byte-col-3">
                <label><strong>*</strong> 作品简介</label>
              </div>
              <div class="byte-form-item-wrapper byte-col byte-col-21">
                <div class="byte-form-item-control-wrapper">
                  <div class="byte-form-item-control">
                    <div class="byte-form-item-control-children">
                      <div class="byte-row serial-row desc-input">
                        <div class="pgc-input-hint">
                          <textarea
                            minlength="50"
                            maxlength="200"
                            class="byte-textarea"
                            :class="descriptionErrorTip? 'byte-textarea-error': 'byte-textarea-normal'"
                            placeholder="请输入50-200字以内的作品简介，不可出现低俗、暴力、血腥等不符合法律法规的内容"
                            v-model="description"
                            @blur="onblurDescription()"
                            @focus='onfocusDescription()'
                            style="
                              resize: none;
                              overflow: auto;
                              min-height: 204px;
                              max-height: 204px;
                            "
                          ></textarea
                          ><span class="pgc-hint-text hint">{{description.length}}/200</span>
                        </div>
                      </div>
                      <p class="textarea-warn-label">{{descriptionErrorTip}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div
          class="byte-row byte-row-flex byte-row-flex-align-start byte-row-flex-justify-end serial-row"
          style="margin-top: 6px; margin-right: 18px; padding-bottom: 122px"
        >
          <button
            gutter="0"
            class="byte-btn byte-btn-default byte-btn-size-default byte-btn-shape-square serial-button"
            type="button"
            @click="cancelCreate"
            style="
              width: 90px;
              border: none;
              background-color: rgb(246, 246, 246);
              color: rgb(164, 164, 164);
              border-radius: 16px;
              margin-right: 20px;
            "
          >
            <span>取消</span></button
          ><button
            gutter="0"
            class="byte-btn byte-btn-primary byte-btn-size-default byte-btn-shape-square serial-button"
            @click='createBook'
            type="button"
          >
            <span>立即创建</span>
          </button>
        </div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</template>

<script>
import callCommand from '../../utils/callCommand';
import globalVal from '../../utils/globalVal';
export default {
  data() {
    return {
      showPage: true,
      empty: true,
      radio: '1',
      options: [{value: 1,label: '兵王'}, {value: 2,label: '都市'}, {value: 3,label: '科幻'}, {value: 4,label: '穿越'}, {value: 5,label: '系统'},
       {value: 6,label: '古代言情'}, {value: 7,label: '现代言情'}],
      showFileList: true,
      imageUrl: 'http://sf1-ttcdn-tos.pstatp.com/obj/toutiao-novel/e0e9652c24295283a6f0c395bd1615a4',
      bookName: '',
      bookNameErrorTip:'',
      object: '1',
      tags: [],
      description: '',
      descriptionErrorTip: '',
    };
  },
  methods: {
    pre(){
      this.$router.go(-1);
    },
    cancelCreate(){
        this.bookName = '';
        this.bookNameErrorTip = '';
        this.descriptionErrorTip = '';
        this.imageUrl = 'http://sf1-ttcdn-tos.pstatp.com/obj/toutiao-novel/e0e9652c24295283a6f0c395bd1615a4';
        this.tags = [];
        this.description = '';
    },
    createBook(){
        if (this.bookNameErrorTip != '' && this.descriptionErrorTip != ''){
            this.$message({
                'message': '请先完善信息',
                'type': 'error' });
        }else if(this.imageUrl == 'http://sf1-ttcdn-tos.pstatp.com/obj/toutiao-novel/e0e9652c24295283a6f0c395bd1615a4'){
            this.$message({
                'message': '没有上传书籍封面',
                'type': 'warning' });
        }else{
            console.log(this.tags)
            var command = `$create-book --userId '${globalVal.userId}' --bookName '${this.bookName}' --object ${this.object} --tags '[${this.tags}]' --description '${this.description}' --bookImg '${this.imageUrl}'`;
            callCommand(command).then(res => {
              this.$router.push({path: '/my/production'})
            })
        }
    },
    onblurBookName(){
        if (this.bookName == ''){
            this.bookNameErrorTip = '请输入作品名称';
        }else{
            this.bookNameErrorTip = '';
        }
    },
    onfocusBookName(){
        this.bookNameErrorTip = '';
    },
    onblurDescription(){
        if (this.description.length < 50){
            this.descriptionErrorTip = '简介不能小于50个汉字';
        }else{
            this.descriptionErrorTip = '';
        }
    },
    onfocusDescription(){
        this.descriptionErrorTip = '';
    },
    handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
        this.showFileList = false;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || file.type === "image/png";
      const isLt2M = file.size / 1024 < 30;
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG、PNG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 30KB!");
      }
      return isJPG && isLt2M;
    },
  }
};
</script>

<style lang='scss'>
.main {
  width: 1220px;
  margin: 15px 15px;
  min-height: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}
button {
  outline: none;
}
.qm-mod-th {
  width: 95%;
  margin-left: 20px;
  border-bottom: solid 1px #f1f1f1;
  height: 64px;
  line-height: 64px;
}

.tit-create {
  padding-left: 20px;
  font-size: 20px;
  color: #353535;
  float: left;
  font-weight: 300;
  font-family: SourceHanSerifCN-Bold;
}
.muye-stack-pagination.byte-pagination {
  padding-top: 62px;
  justify-content: center;
}
.byte-pagination {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.bottom {
  width: 100%;
  height: 100px;
}

.empty {
  text-align: center;
  padding-top: 180px;
}

input::-webkit-input-placeholder{
   color:rgb(179, 174, 174);
   font-size: 14px;
   text-align: left;
   font-family: Arial,Helvetica,STHeiti,"宋体";
}

textarea::-webkit-input-placeholder{
   color:rgb(190, 190, 190);
   font-size: 14px;
   text-align: left;
   font-family: Arial,Helvetica,STHeiti,"宋体";
}

.byte-empty {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.byte-empty-wrapper {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #c2c6cc;
}
.byte-empty .byte-empty-wrapper .byte-empty-image {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 4px;
}
.byte-empty .byte-empty-wrapper img {
  height: 150px;
}
.book-table .empty .byte-empty-description {
  margin-top: -2px;
  color: #a4a4a4;
}
.create-btn {
  margin-top: 40px;
}
button.byte-btn.byte-btn-primary {
  font-weight: 500;
  background-image: linear-gradient(117deg, #ff9000 12%, #ff4f00 87%);
  margin-right: 100px;
}
button.byte-btn.byte-btn {
  min-width: 90px;
  height: 32px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 32px;
  border: none !important;
  color: #fff;
  padding: 0 20px;
}
button.byte-btn.byte-btn-primary:hover {
  background-image: linear-gradient(117deg, #ff5100 12%, #ff3c00 87%);
}

.byte-btn-default:hover{
    background-color: rgb(219, 219, 219) !important;
    color: rgb(112, 112, 112) !important;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #73d3ff;
    background: #73d3ff;
}

.el-radio__input.is-checked+.el-radio__label {
    color: #000000;
}
.create-container {
    font-size: 14px;
    padding-top: 40px;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    display: flex;
    -webkit-box-direction: normal;
}
.left-cover-container {
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-direction: normal;
}

.byte-input-normal input.el-input__inner {
    border-radius:25px;
    &:focus{
        border-color: rgb(128, 128, 128);
    }
}

.byte-input-error input.el-input__inner {
    border-radius:25px;
    border-color: rgb(252, 23, 23);
    &:focus{
        border-color: rgb(128, 128, 128);
    }
}

.select-row input.el-input__inner {
    border-radius:25px;
    &:focus{
        border-color: rgb(128, 128, 128) !important;
    }
}
.select-row input.el-input__inner {
    padding-right: 90px;
}

.el-select-dropdown__list {
    font-family: Arial,Helvetica,STHeiti,"宋体" !important;
}
.cover-image {
    width: 120px;
    height: 160px;
    max-width: 120px;
    max-height: 160px;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    border-radius: 12px;
}
.wrap-inner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.canvasCover {
    position: relative;
}
.hidden {
    display: none!important;
}
.cover-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
button, img {
    border: 0;
    outline: 0;
}
.canvasCover .hidden {
    display: none!important;
}
.canvasCover .canvasContainer {
    position: relative;
}
.inlineCover {
    transition: margin .5s ease;
}
.showCanvas {
    float: left;
}
.innerCanvas {
    cursor: pointer;
    position: relative;
    width: 0;
    border-radius: 12px;
    border: solid 1px black;
}

.innerCanvas canvas:first-child {
    z-index: 1;
}
.innerCanvas canvas {
    position: absolute;
    top: -1px;
    left: -1px;
}
.inlineCover .showCanvas {
    float: left;
}
.innerCanvas {
    cursor: pointer;
    position: relative;
    width: 0;
    border-radius: 12px;
}
button.byte-btn.byte-btn-default {
    background-color: #f6f6f6;
    color: #a4a4a4;
}
button.byte-btn.byte-btn {
    min-width: 90px;
    height: 32px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    border: none!important;
    padding: 0 20px;
}
.byte-btn {
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s;
    box-sizing: border-box;
}

.create-container .form {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    margin-left: 32px;
}
.byte-form {
    width: 100%;
}
.form .input-hint {
    position: relative;
    min-width: 621px;
    -webkit-box-align: center;
    align-items: center;
}
.byte-form-layout-horizontal {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.byte-form-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 4px 0;
}
.byte-form-label-item {
    padding-right: 20px;
}
.byte-form-size-default .byte-form-label-item {
    line-height: 32px;
}
.byte-col.byte-col-3 {
    width: 12.5%;
    -webkit-box-flex: 0;
    flex: 0 0 12.5%;
}
.byte-form-label-item {
    text-align: right;
    white-space: nowrap;
}
.create-container .form .textarea-warn-label {
    margin-top: 9px;
    font-size: 12px;
    color: #ff4f00;
    line-height: 12px;
}
.byte-col {
    float: left;
    box-sizing: border-box;
}
.byte-form-label-item>label {
    font-size: 14px;
    white-space: normal;
}
strong {
    font-weight: bolder;
}
.byte-form-label-item>label>strong {
    color: #ff4f00;
}
.byte-form-item-wrapper {
    position: relative;
    padding: 0;
}
.byte-col.byte-col-21 {
    width: 87.5%;
    -webkit-box-flex: 0;
    flex: 0 0 87.5%;
}
.byte-form-item-control-wrapper {
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}
.byte-form-item-control, .byte-form-size-default .byte-form-label-item {
    line-height: 32px;
}
.byte-form-item-control {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 32px;
    width: 100%;
}
.byte-form-item-control-children {
    padding: 0 2px;
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
}
.byte-input-group-wrapper {
    display: inline-block;
    vertical-align: top;
}
.byte-input-group-wrapper .byte-input-group {
    display: table;
    width: 100%;
    line-height: 1;
    height: 100%;
}
.byte-input-inner-wrapper {
    display: table-cell;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}
.byte-input-group>:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.suffix {
    width: 60px;
    right: 34px!important;
    height: 36px;
    padding-left: 16px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    background: linear-gradient(90deg,transparent 0,#fff 15%,#fff);
    color: #a4a4a4;
}
.byte-input-inner-wrapper .suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 0;
    z-index: 2;
    user-select: none;
}
.suffix span {
    line-height: 36px;
}
.suffix span {
    font-size: 14px!important;
    font-family: -apple-system,PingFang SC,Helvetica Neu;
    background-color: #fff;
}
.info-wrap {
    float: right;
    width: 0;
}
.create-input-icon {
    position: absolute;
    left: 594px;
    line-height: 32px;
    top: 3px;
    color: #a4a4a4;
}
[class*=tomato-], [class^=tomato-] {
    font-family: tomato!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
.target-wrap {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.byte-form-layout-horizontal {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.byte-form-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 4px 0;
}
.byte-form-layout-horizontal {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}
.byte-col.byte-col-21 {
    width: 87.5%;
    -webkit-box-flex: 0;
    flex: 0 0 87.5%;
}

.name-warn-label {
    position: absolute;
    left: 14px;
    top: 28px;
    color: #ff4f00;
    font-size: 12px;
    line-height: 16px;
}

.byte-col {
    float: left;
    box-sizing: border-box;
}
.byte-form-item-control-wrapper {
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}
.byte-form-item-control{
    line-height: 32px;
}
.byte-form-item-control {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 32px;
    width: 100%;
}
.byte-form-item-control-children {
    padding: 0 2px;
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
}
.pgc-input-hint {
    position: relative;
    max-height: 204px;
    overflow: auto;
    margin-bottom: 4px;
    border-radius: 6px;
}
.byte-textarea-normal {
    border: 1px solid #e0e0e0;
}
.byte-textarea-error{
    border: 1px solid #ff1c1c;
}
.byte-textarea-normal:hover{
    border-color: rgb(158, 158, 158);
}
.byte-textarea-error:hover{
    border-color: rgb(255, 59, 59);
}
.pgc-input-hint .byte-textarea {
    padding: 10px 16px 28px;
}

.byte-textarea {
    position: relative;
    height: auto;
    line-height: 1.5;
    vertical-align: top;
    border-radius: 6px;
    box-shadow: none!important;
    width: 65%;
}
.byte-input{
    width: 85%;
}

.byte-input, .byte-textarea {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: var(--font-color);
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color .3s,box-shadow .3s;
}

textarea {
    overflow: auto;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
}
.pgc-input-hint .hint {
    position: absolute;
    right: 300px;
    bottom: 1px;
    line-height: 28px;
    height: 28px;
    width:30px;
    text-align: right;
    background-color: #fff;
    color: #a4a4a4;
}
.create-container .form .textarea-warn-label {
    margin-top: 9px;
    font-size: 12px;
    color: #ff4f00;
    line-height: 12px;
}
.byte-row-flex-justify-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.byte-row-flex-align-start {
    -webkit-box-align: start;
    align-items: flex-start;
}
.byte-row-flex {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}
button.byte-btn.byte-btn {
    min-width: 90px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    border: none!important;
    padding: 0 20px;
}
.left-icon{
  margin-top: 23px;
  float: left;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/return.png');
  background-size: 20px 20px;
}

.tit-create:hover{
  color: rgb(255, 75, 75);
  .left-icon{
    background-image: url('../../assets/return-hover.png');
    background-size: 20px 20px;
    }
}
</style>