<template>
  <div class="bookcase">
    <div class="per_right card">
      <div class="per_tit">
        <h3 class="tit_name fc02">我的收藏</h3>
      </div>
      <div class="per_right_box collect_list" v-if="showPage">
        <ul>
          <li v-for='(item, index) in bookInfoItems' :key='index'>
            <div class="book_box">
              <a target="_blank" @click="toBookInfo(item.bookId)" class="book_cov">
                <img
                  :src="item.bookImg"
                />
              </a>
              <div class="book_inf">
                <h4>
                  <a target="_blank" @click="toBookInfo(item.bookId)" class="book_name arow"
                    >{{item.bookName}}</a
                  >
                </h4>
                <h4>
                  <span class="author-name">作者：{{item.authorName}}</span>
                </h4>
                <a
                  target="_blank"
                  @click="toBookContent(item.bookId, item.lastChapterIndex)"
                  class="fc01 arow"
                >
                  {{item.lastChapterTitle}}
                </a>
              </div>
              <a class="delete-icon" @click="deleteCollectionBook(item.bookId, index)"></a>
            </div>
          </li>
        </ul>
        <div
      class="byte-pagination muye-stack-pagination byte-pagination-size-default"
    >
      
      <div class="byte-pagination-option">
        <el-pagination
            background
            layout="prev, pager, next"
            @current-change='changePageFrom'
            :total="totalSize"
            :page-size="pageSize"
            :pager-count="pagerCount"
            :hide-on-single-page='true'
            :current-page="currentPage">
        </el-pagination>
      </div>
    </div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</template>

<script>
import callCommand from "../../utils/callCommand.js";
import deleteIcon from '@/assets/delete.png';
import globalVal from '../../utils/globalVal.js';

export default {
  name: "demo",
  data() {
    return {
      deleteIcon: deleteIcon,
      bookInfoItems: [],
      pageFrom: 0,
      pageSize: 5,
      totalSize: 0,
      showPage: false,
      pagerCount: 5,
      currentPage: 1,
    };
  },
  methods: {
    toBookInfo(bookId) {
      this.$router.push({
        path: "/book",
        query: { bookId: bookId},
      });
    },
    toBookContent(bookId, index){
      this.$router.push({path: '/content', query: {"bookId": bookId, "pageFrom": index}})
    },
    changePageFrom(val){
      this.showPage = false;
      this.pageFrom = (val - 1 ) * this.pageSize;
      this.currentPage = val;
      var command = `$get-collection-book --userId '${globalVal.userId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`
      callCommand(command).then(res =>{
          this.bookInfoItems = res.data.data.bookInfo;
          this.totalSize = res.data.data.totalSize;
          this.showPage = true;
      })
    },
    deleteCollectionBook(bookId, index){
      var command =`$delete-collection-book --userId '${globalVal.userId}' --bookId '${bookId}'`;
      callCommand(command).then(res => {
        var command = `$get-collection-book --userId '${globalVal.userId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
        callCommand(command).then(res => {
          var data = res.data.data;
          this.totalSize = data.totalSize;
          this.bookInfoItems = data.bookInfo;
        })
      })
    }
  },
  created(){
    var command = `$get-collection-book --userId '${globalVal.userId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
    callCommand(command).then(res => {
      var data = res.data.data;
      this.totalSize = data.totalSize;
      this.bookInfoItems = data.bookInfo;
      this.showPage = true;
    })
  }
};
</script>
<style lang="scss" scoped>
.per_right {
    width: 1220px;
    margin: 10px 20px;
    min-height: 700px;
}

h4{
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  font-style: normal;
  text-decoration: none;
  width: 400px;
}

.card {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}

.per_right .per_tit {
    height: 79px;
    line-height: 78px;
    border-bottom: 1px solid #E8E8E8;
    padding: 0 40px;
}

a {
    color: #212121;
    -webkit-backface-visibility: hidden;
    display: inline-block;
}

.tit_name {
    font-size: 20px;
    float: left;
}

.fc02 {
    color: #212121;
}

.per_right .per_right_box {
    padding: 30px 40px 43px;
    margin-top: -10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.fs01 {
    font-size: 14px;
}

.collect_list li, .all_notifys li {
    position: relative;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.collect_list .book_box {
    height: 92px;
    padding: 0 130px 0 76px;
}

.book_box {
    width: 100%;
    position: relative;
    display: flex;
}

.collect_list .book_cov {
    width: 80px;
    height: 100px;
}
.book_cov {
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 0;
    color: #212121;
    top: 0;
    display: inline-block;
}

.book_cov img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    object-fit: cover;
    display: inline-block;
    overflow: hidden;
}

.book_cov img:hover{
  transform: scale(1.2);
}


.book_box .book_inf {
  width: 950px;
  padding: 2px 10px;
}

.collect_list .book_name {
    margin-bottom: 0px;
}
.book_name {
    font-size: 16px;
}
.arow {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #212121;
    display: inline-block;
}

.fc01 {
    color: #666;
    margin-top: 34px;
}

.collect_list .i_del {
    width: 16px;
    height: 17px;
    position: absolute;
    right: 0;
    top: 32px;
}

.collect_list .i_del::before {
    width: 16px;
    height: 17px;
    background-position: -155px -195px;
}

.del_icon::before{
    width: 22px;
    height: 22px;
    background: url('../../assets/delete.png');
    background-size: 400px 250px;
    content: "";
    position: absolute;
    float: left;
}

.delete-icon{
  background: url('../../assets/delete.png') no-repeat;
  background-size: 22px 22px;
  width: 23px;
  height: 23px;
  margin-top: 30px;
}

.delete-icon:hover{
  background: url('../../assets/delete_hover.png') no-repeat;
  background-size: 22px 22px;
}

.bottom{
  width: 100%;
  height: 100px;
}

a:hover{
    color: #f35107;
}

.author-name{
  font-size: 14px;
  color: rgb(138, 138, 138);
}

.muye-stack-pagination.byte-pagination {
    padding-top: 62px;
    justify-content: center;
}
.byte-pagination {
    display: flex;
    align-items: center;
}
</style>

