<template>
    <div class="container">
        <div class="app">
            <div class="reader">
                <div class="reader-inner">
                    <div class="go-home" @click="goHome()"></div>
                    <div class="go-book" @click="goBook(bookId)"></div>
                    <div class="reader-box" >
                        <div class="reader-title">
                            <span>{{title}}</span>
                        </div>
                        <div class="content-desc">
                            <span class="desc-item"><span class="desc-title">书名：</span>{{bookInfo.bookName}}</span>
                            <span class="desc-item"><span class="desc-title">作者：</span>{{bookInfo.authorName}}</span>
                            <span class="desc-item"><span class="desc-title">本章字数：</span>{{contentInfo.contentWordCount}}</span>
                            <span class="desc-item"><span class="desc-title">更新时间：</span>{{contentInfo.contentUpdateTime}}</span>
                        </div>
                        <div class="content">
                            <div v-html="contentInfo.content"></div>
                        </div>
                        <div class="reader-btn">
                            <button class="last-content" v-if="pageFrom > 0" @click="lastContent()"><span>上一章</span></button>
                            <button class="next-content" v-if="pageFrom < directoryInfoLength" @click="nextContent()"><span>下一章</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import callCommand from '../../utils/callCommand'
import globalVal from '../../utils/globalVal'

export default {
    inject:['reload'],
    data(){
        return {
            bookId: '',
            pageFrom: '',
            bookInfo: {
                authorName: '',
                bookName: '',
                directoryInfo: [],
            },
            contentInfo: {
                contentWordCount: '',
                contentUpdateTime: ''
                },
            title: '',
            directoryInfoLength: 0,
        }
    },
    methods: {
        get_cookie(cname){
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
            }
            return "";
        },
        goHome(){
            this.$router.push({path: '/'})
        },
        goBook(bookId){
            this.$router.push({path: '/book', query: {bookId: bookId}})
        },
        lastContent(){
            this.pageFrom = parseInt(this.pageFrom) - 1;
            var userId = this.get_cookie('userId');
            var command = `$set-user-read-book-info --userId ${userId} --bookId ${this.bookId} --index ${this.pageFrom}`
            callCommand(command).then(res => {
                this.$router.push({path: '/content', query: {"bookId": this.bookId, "pageFrom": this.pageFrom}})
                this.reload();
            })
        },
        nextContent(){
            this.pageFrom =parseInt(this.pageFrom) + 1;
            var userId = this.get_cookie('userId');
            var command = `$set-user-read-book-info --userId ${userId} --bookId ${this.bookId} --index ${this.pageFrom}`
            callCommand(command).then(res => {
                this.$router.push({path: '/content', query: {"bookId": this.bookId, "pageFrom": this.pageFrom}})
                this.reload();
            })
        }
    },
    created: function() {
        this.bookId = this.$route.query.bookId;
        this.pageFrom = this.$route.query.pageFrom;
        let bookInfoCommand = `$get-book-detail --bookId '${this.bookId}'`;
        callCommand(bookInfoCommand).then(res =>{
            this.bookInfo = res.data.data;
            this.directoryInfoLength = this.bookInfo.directoryInfo.length;
            if (this.pageFrom > this.directoryInfoLength) {
                this.contentInfo = '';
            }else{
                let contentId = this.bookInfo.directoryInfo[this.pageFrom].itemId;
                this.title = this.bookInfo.directoryInfo[this.pageFrom].title;
                let command = `$get-book-content --contentId '${contentId}'`
                callCommand(command).then(res =>{
                this.contentInfo = res.data.data;
                })
            }
        })
    }
}
</script>

<style lang="scss" scoped>

.container{
    overflow: hidden;
}

.app{
    height: 100%;
}

.reader{
    background-color: #ded9c5;
    color: #462e0b;
    min-height: 700px;
    height: 100%;
}

.reader-inner{
    height: 100%;
    overflow-y: auto;
    margin-right: 8px;
    min-height: 700px;
}

.go-home{
    right: 55%;
    transform: translateX(-469px);
    width: 50px;
    height: 30px;
    border-radius: 4px 0 0 4px;
    background-size: 30px;
    background-image: url('../../assets/home.png');
    position: fixed;
    top: 65px;
    cursor: pointer;
}

.go-home:hover{
    background-image: url('../../assets/home-hover.png');
}

.go-book{
    left: 116.3%;
    transform: translateX(-469px);
    width: 62px;
    height: 30px;
    border-radius: 4px 0 0 4px;
    background-size: 30px;
    background-image: url('../../assets/book.png');
    position: fixed;
    top: 65px;
    cursor: pointer;
}

.go-book:hover{
    background-image: url('../../assets/book-hover.png');
}

.reader-box{
    position: relative;
    width: 950px;
    min-height: 700px;
    background-color: #f9f7ef;
    margin: 0 auto;
    box-shadow: 0 1px 8px 0 hsla(48,27%,82%,.4);
    padding: 80px 90px;
    transform: translateX(6px);
}

.reader-title{
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
}

.content-desc{
    margin-top: 21px;
    line-height: 17px;
    font-size: 12px;
    color: rgba(70,46,11,.6);
}

.desc-item{
    margin-right: 60px;
}

.desc-title{
        color: rgba(70,46,11,.3);
}

.content{
    word-break: break-word;
    margin-top: 57px;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
}

.reader-btn{
    padding-top: 120px;
    text-align: center;
}

.last-content{
    margin-right: 20px;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    line-height: 36px;
    width: 150px;
    border:1px solid rgba(70,46,11,.3);
    background-color: #f9f7ef;
    color: #462e0b!important;
}

.last-content:hover{
    background-color: #dfddd9;
}

.next-content{
    margin-left: 20px;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    line-height: 36px;
    width: 150px;
    border: 1px solid #fa6725;
    background-color: #fa6725;
    color: #fff;
}
.next-content:hover{
    background-color: #f35107;
}

</style>