<template>
  <div class="wrapper" v-if='showPage'>
    <div class="author-main">
      <div class="author-main-con">
        <div class="author clearfix">
          <div class="author-info clearfix">
            <div class="pic">
              <img :src="authorInfo.authorImg" alt="" />
              <i class="qm-photo-mask">
                <img
                  src="https://cdn.qimao.com/bookimg/zww/frontendstatic/20200313/images/common/photo_mask_gray.png"
                  alt=""
                />
              </i>
            </div>
            <div class="txt js-author-info" style="padding-top: 46px">
              <span class="s-tit"
                >{{authorInfo.authorName}}</span
              >
              <span class="s-des">{{authorInfo.authorDesc}}</span>
            </div>
          </div>
          <ul class="data-list clearfix">
            <li>
              <span class="s-tit"><strong>{{authorInfo.productionNum}}</strong>本</span>
              <span class="s-des">作品总数</span>
            </li>
            <li>
              <span class="s-tit"><strong>{{(authorInfo.wordCount / 10000).toFixed(1)}}</strong>万</span>
              <span class="s-des">累计字数</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="row pt32">
        <div class="qm-mod">
          <div class="qm-mod-th">
            <h2 class="tit">作品</h2>
          </div>
          <div class="qm-mod-tb">
            <ul class="qm-pic-txt pic-150-200 auto" size="middle">
              <li v-for="(item, index) in bookInfoItems" :key="index">
                <div class="pic">
                  <a @click="toBookInfo(item.bookId)"
                    ><img
                      :src="item.bookImg"
                      alt=""
                  /></a>
                </div>
                <div class="txt">
                  <span class="s-tit"
                    ><a @click="toBookInfo(item.bookId)">{{item.bookName}}</a></span
                  >
                  <span class="s-tags clearfix" size="14">
                    <span class="qm-tags left" size="14"
                      ><em class="orange">{{item.bookStatus}}</em
                      ><em  target="_blank" v-for="(tag, index) in item.tags" :key="index"
                        >{{tag}}</em
                      ></span
                    >&nbsp;&nbsp;&nbsp;&nbsp;{{(item.wordCount / 10000).toFixed(2)}}万字
                  </span>
                  <span class="s-des"
                    >{{item.bookAbstract}}</span
                  >
                  <p class="p-bottom">
                    <span class="s-txt">
                      <em>更新至：</em
                      ><a @click="toBookContent(item.bookId, item.lastChapterIndex)"
                        >{{item.lastChapterTitle}}</a
                      >&nbsp;&nbsp;&nbsp;&nbsp;<em class="fz12"
                        >{{item.lastPublishTime}}</em
                      >
                    </span>
                  </p>
                </div>
                <div class="btn">
                  <a
                    @click="startRead(item.bookId)"
                    class="qm-btn gradient block"
                    size="40"
                    >立即阅读</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="qm-mod">
          <div class="qm-mod-tb">
            <ul class="qm-pic-txt pic-150-200 auto" size="middle"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import callCommand from '../../utils/callCommand';
import globalVal from '../../utils/globalVal';
export default {
    data() {
        return {
          authorInfo: {
            authorName: '',
            authorImg: '',
            authorDesc: '',
            productionNum: 0,
            wordCount: 0,
          },
          bookInfoItems: [],
          authorId: '',
          showPage: false,
        }
    },
    methods:{
      toBookInfo(bookId){
        this.$router.push({path: '/book', query: {"bookId": bookId}})
      },
      toBookContent(bookId, index){
        this.$router.push({path: '/content', query: {"bookId": bookId, "pageFrom": index}})
      },
      startRead(bookId){
            var command = `$user-read-book-info --userId ${globalVal.userId} --bookId ${bookId}`
            callCommand(command).then(res => {
                var index = res.data.data.index;
                this.$router.push({path: '/content', query: {"bookId": bookId, "pageFrom": index}})
            })
        },
    },
    mounted(){
      this.authorId = this.$route.query.authorId;
      var command = `$get-author-info --authorId '${this.authorId}' --userId '${globalVal.userId}'`;
      callCommand(command).then(res => {
        var data = res.data.data;
        this.authorInfo = data.authorInfo;
        this.bookInfoItems = data.bookInfoItems;
        this.showPage = true;
      })
    }
}
</script>

<style lang='scss' scoped>
.wrapper {
    min-width: 1160px;
}
.wrapper{
    background: #fff;
}
.author-main {
    min-width: 1160px;
    background: #f8f8f8;
}
.author-main-con {
    width: 1160px;
    margin: 0 auto;
    padding: 32px 0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.author-main-con .author .author-info {
    float: left;
}

.author-main-con .author .author-info .pic {
    position: relative;
    float: left;
    margin-right: 24px;
    width: 120px;
    height: 120px;
}

.author-main-con .author .author-info .pic img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    display: block;
}
.qm-photo-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.iconfont, em, i {
    font-style: normal;
}
.author-main-con .author .author-info .txt {
    padding-top: 46px;
    float: left;
    width: 620px;
}

.author-main-con .author .author-info .txt span.s-tit {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.author-main-con .author .author-info .txt span {
    display: block;
}
.author-main-con .author .data-list {
    float: right;
    padding: 16px 0;
}
.author-main-con .author .data-list li {
    margin: 0 16px;
    min-width: 56px;
    float: left;
    text-align: center;
    list-style: none;
}
.author-main-con .author .data-list li span.s-tit {
    line-height: 20px;
    padding-top: 12px;
    font-weight: 700;
}

.author-main-con .author .data-list li span {
    display: block;
}

.author-main-con .author .data-list li span.s-tit strong {
    font-family: qimao;
    font-size: 24px;
    padding-right: 2px;
    font-weight: 400;
}

.s-des {
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    color: #666;
}

.author-main-con .author .data-list li span.s-des {
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    color: #666;
}
.wrapper .main {
    width: 1160px;
    margin: 0 auto;
    min-height: 600px;
    padding-bottom: 32px;
}
.wrapper .row {
    padding-bottom: 24px;
}
.pt32 {
    padding-top: 32px;
}
.qm-mod-th, .qm-mod-th-m, .qm-mod-th-s {
    height: 64px;
    line-height: 64px;
}
.qm-mod-th .tit, .qm-mod-th-m .tit, .qm-mod-th-s .tit {
    font-size: 22px;
    color: #222;
    float: left;
    font-weight: 700;
    font-family: SourceHanSerifCN-Bold;
}
.qm-pic-txt.pic-150-200, .qm-pic-txt.pic-150-200 li {
    width: 100%;
    overflow: hidden;
}
.qm-pic-txt.pic-150-200 li:first-child {
    margin-top: 0;
}
.qm-pic-txt.pic-150-200 li {
    margin: 40px 0 0;
    height: 200px;
}
.qm-pic-txt.pic-150-200, .qm-pic-txt.pic-150-200 li {
    width: 100%;
    overflow: hidden;
}
.qm-pic-txt li, .qm-pic-txt li .pic {
    float: left;
    display: inline;
}
.qm-pic-txt.pic-150-200 li .pic {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
    overflow: hidden;
}
.qm-pic-txt li .pic a {
    display: block;
    position: relative;
}
a {
    text-decoration: none;
}
.qm-pic-txt li .pic img {
    height: 100%;
    width: 100%;
    display: block;
    vertical-align: top;
    -webkit-transition: all 0.5s;
    border-radius: 5px;
}

.qm-pic-txt li .pic img:hover{
  transform: scale(1.2);
}

.p-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 3px;
}

.qm-pic-txt.pic-150-200 li .txt {
    float: left;
    width: 750px;
    height: 100%;
}
.qm-pic-txt[size=middle] li .txt {
    font-size: 14px;
}
.qm-pic-txt li .txt {
    position: relative;
    overflow: hidden;
}
.qm-pic-txt[size=middle] li .txt span.s-tit {
    font-size: 18px;
}

.qm-pic-txt li .txt span.s-tit {
    line-height: 22px;
    max-height: 44px;
    font-size: 16px;
    color: #222;
    padding-top: 4px;
    text-overflow: ellipsis;
}
.qm-pic-txt li .txt span.s-tit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.qm-pic-txt[size=middle] li .txt span.s-tags {
    line-height: 22px;
}
.qm-pic-txt li .txt span.s-tags {
    padding-top: 8px;
    color: #999;
}
.qm-pic-txt li .txt span {
    display: block;
}

.qm-pic-txt li .txt span.s-tags .left {
    float: left;
}

.qm-pic-txt li .txt span {
    display: block;
}
.qm-tags {
    color: #999;
    font-size: 14px;
}

.qm-tags[size="14"] em {
    padding: 0 6px;
    line-height: 20px;
}
.qm-tags a:first-child, .qm-tags em:first-child {
    margin-left: 0;
}
.qm-tags a.orange, .qm-tags em.orange {
    background: #fca000;
    border-color: #fca000;
    color: #fff!important;
}
.qm-tags[size="14"] a, .qm-tags[size="14"] em {
    padding: 0 6px;
    line-height: 20px;
}
.qm-tags a, .qm-tags em {
    border: 1px solid #ddd;
    color: #999;
    margin-left: 8px;
    float: left;
    display: inline;
    white-space: nowrap;
    border-radius: 4px;
}
.qm-pic-txt[size=middle] li .txt span.s-des {
    line-height: 20px;
    height: 40px;
}
.qm-pic-txt li .txt span.s-des {
    padding-top: 8px;
}
.qm-pic-txt li .txt span.s-des, .qm-pic-txt li .txt span.s-name {
    color: #999;
}
.qm-pic-txt li .txt span.s-des, .qm-pic-txt li .txt span.s-tit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.qm-pic-txt li .txt span.s-txt {
    line-height: 20px;
    padding-top: 8px;
    color: #666;
}
.qm-pic-txt li .txt span.s-txt em {
    color: #999;
}
.iconfont, em, i {
    font-style: normal;
}

.qm-pic-txt[size=middle] li .txt span.s-txt .fz12 {
    font-size: 12px;
}
.qm-pic-txt li .txt span.s-txt em {
    color: #999;
}
.qm-pic-txt.pic-150-200 li .btn {
    float: left;
    width: 104px;
    vertical-align: middle;
}
.qm-pic-txt.pic-150-200 li .btn a {
    margin-top: 80px;
}
.qm-btn.gradient.block {
    padding: 1px;
}
.qm-btn[size='40'] {
    border-radius: 38px;
    line-height: 40px;
    height: 38px;
    font-size: 14px;
}

.btn{
  background: #fca176;
  text-align: center;
  font-weight: 800;
  border-radius: 20px;
  color: #e9e9e9;
  margin-top: 80px;
  margin-left: 50px;
}

.btn:hover{
  background:#fc5c00;
}

.txt a:hover{
  color: #f87123;
}

</style>