<template>
    <div class="container">
  <div class="muye-stack-wrap">
    
    <div class="muye-stack-book-list">
        <book-brief v-for="item in bookInfoItems" :bookInfo="item" :key='item.bookId'></book-brief>
    </div>
    <div
      class="byte-pagination muye-stack-pagination byte-pagination-size-default"
    >
      
      <div class="byte-pagination-option">
        <el-pagination
            background
            layout="prev, pager, next"
            @current-change='changePageFrom'
            :total="totalSize"
            :page-size="pageSize"
            :pager-count="5"
            :hide-on-single-page='true'
            :current-page="currentPage">
        </el-pagination>
      </div>
    </div>
  </div>
    <div class="bottom"></div>
  </div>
</template>

<script>
import { split } from 'lodash';
import BookBrief from '../../layouts/HeaderAsideLayout/components/BookBrief';
import callCommand from '../../utils/callCommand';
import globalVal from '../../utils/globalVal';
export default {
  components: { BookBrief },
  data() {
    return {
        type: 1,
        bookInfoItems: [],
        totalSize: 0,
        pageFrom: 0,
        pageSize: 18,
        currentPage: 1,
        type: 1,
    };
  },
  methods: {
      changePageFrom(val){
          this.pageFrom = (val - 1 ) * this.pageSize;
          this.currentPage = val;
          var command = `$get-bookstore-data --userId '${globalVal.userId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize} --type ${this.type}`
        callCommand(command).then(res =>{
            this.bookInfoItems = res.data.data.bookInfo;
            this.totalSize = res.data.data.totalSize;
        })
      }
  },
  mounted(){
    var path = this.$route.path;
    this.type = path.split('/')[2];
    var command = `$get-sort-book --userId '${globalVal.userId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize} --type ${this.type}`
    callCommand(command).then(res =>{
        this.bookInfoItems = res.data.data.bookInfo;
        this.totalSize = res.data.data.totalSize;
    })
  },
  created(){
      var _this = this;
      var path = this.$route.path;
      this.type = path.split('/')[2];
      var type = this.type;
      _this.timeId = setInterval(function() {
          var path = _this.$route.path;
          type = path.split('/')[2];
          if (type != _this.type){
              _this.type = type;
              var command = `$get-sort-book --userId '${globalVal.userId}' --pageFrom ${_this.pageFrom} --pageSize ${_this.pageSize} --type ${_this.type}`
              callCommand(command).then(res =>{
                    _this.bookInfoItems = res.data.data.bookInfo;
                    _this.totalSize = res.data.data.totalSize;
                })
          }
        }, 300);
  }
};
</script>

<style lang='scss' scoped>
.muye-stack-wrap {
    margin: 15px 15px;
    padding: 20px 20px 100px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
    background-color: #fff;
    z-index: 10;
    min-height: 920px;
}
.muye-stack-filter-panel {
    padding: 12px 0 60px;
    position: relative;
}
.byte-tabs {
    position: relative;
    overflow: hidden;
}
.byte-tabs-header-nav {
    position: relative;
    background: #fff;
}
.byte-tabs-header-nav-horizontal .byte-tabs-header-scroll.is-dropdown {
    padding-right: 20px;
    border-bottom: solid 1px rgb(214, 214, 214);
}
.byte-tabs-header-nav-horizontal .byte-tabs-header-scroll {
    overflow: hidden;
    position: relative;
}
.byte-tabs-header-wrapper {
    overflow: hidden;
}
.byte-tabs-header {
    position: relative;
    display: inline-block;
    transition: transform .3s ease;
    white-space: nowrap;
    height: 44px;
}
.muye-stack-filter .byte-tabs-header-title {
    height: 42px;
    line-height: 42px;
    margin-top: 2px;
}

.byte-tabs-header-title:hover{
    color: #fa6725;
}

.active {
    color: #fa6725 !important;
    border-bottom: solid 2px #fa6725;
    font-weight: 500;
}
.byte-tabs-header-title {
    box-sizing: border-box;
    height: 44px;
    line-height: 44px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--font-color);
    display: inline-block;
    transition: color .3s;
}
.byte-tabs>.byte-tabs-content {
    width: 100%;
    overflow: hidden;
    color: var(--font-color);
}
.byte-tabs>.byte-tabs-content .byte-tabs-content-inner {
    display: flex;
    width: 100%;
}
.byte-tabs>.byte-tabs-content .byte-tabs-content-item.byte-tabs-content-item-active {
    height: auto;
}
.byte-tabs>.byte-tabs-content .byte-tabs-content-item {
    width: 100%;
    overflow: hidden;
    height: 0;
    flex-shrink: 0;
}
.muye-stack-book-list {
    display: flex;
    flex-wrap: wrap;
}
.muye-stack-pagination.byte-pagination {
    padding-top: 62px;
    justify-content: center;
}
.byte-pagination {
    display: flex;
    align-items: center;
}

.bottom{
    height: 100px;
    width: 100%;
}
</style>