<template>
  <div>
  <div class="container" v-if="showPage">
    <div class="user-info">
      <div class="user-info-item">
        <div class="user-info-title"><span>基本信息</span></div>
        <div class="user-info-line">
          <label>头像</label>
          <div class="info-avatar">
            <div class="avatar-upload">
              <div class="byte-upload">
                <input type="file" accept="image/*" style="display: none" />
                <div class="byte-upload-trigger">
                  <div class="">
                    <div class="avatar-upload-content">
                      <div
                        class="byte-avatar byte-avatar-circle"
                        style="
                          width: 64px;
                          height: 64px;
                          line-height: 64px;
                          border: 1px solid rgb(245, 245, 245);
                        "
                      >
                        <span class="byte-avatar-image"
                          ><img :src="imageUrl" alt="头像"
                        /></span>
                      </div>
                      <el-upload
                        v-if="modifyInfo"
                        class="upload-demo"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload"
                        :show-file-list="showFileList"
                      >
                        <el-button
                          class="byte-btn byte-btn-default byte-btn-size-default byte-btn-shape-square serial-button avatar-upload-btn"
                          type="button"
                        >
                          <span>上传头像</span>
                        </el-button>
                      </el-upload>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user-info-line">
          <label>用户名</label>
          <div>
            <div
              class="info-input byte-input-group-wrapper byte-input-group-wrapper-default byte-input-has-suffix"
            >
              <span class="byte-input-group"
                ><span class="byte-input-inner-wrapper"
                  v-if="modifyInfo"
                  ><input
                    @input="getUserNameLength"
                    @blur="onblurUsername"
                    @focus="onfocusUsername"
                    placeholder="请输入用户名"
                    :maxlength="14 - usernameWord.chineseword"
                    class="byte-input byte-input-size-default"
                    :class="{'error': userNameErrorTip}"
                    v-model="userName"
                  /><span class="suffix"
                    ><span class="byte-input-word-limit"
                      >{{ usernameWord.englishword + 2 * usernameWord.chineseword }}/14</span
                    ></span
                  ></span
                ><span v-else>{{userName}}</span>
                </span
              >
            </div>
            <div class="editing-text font-6 input-tip" v-if="userNameErrorTip">{{userNameErrorTip}}</div>
          </div>
        </div>
        <div class="user-info-line">
          <label>我的简介</label>
          <div>
            <div
              class="info-input byte-input-group-wrapper byte-input-group-wrapper-default byte-input-has-suffix"
            >
              <span class="byte-input-group"
                ><span class="byte-input-inner-wrapper"
                  v-if="modifyInfo"
                  ><input
                    maxlength="30"
                    @blur="onblurDescription"
                    @focus="onfocusDescription"
                    placeholder="简单介绍一下自己"
                    class="byte-input byte-input-size-default"
                    :class="{'error': descriptionErrorTip}"
                    v-model="description"
                  /><span class="suffix"
                    ><span class="byte-input-word-limit"
                      >{{ description.length }}/30</span
                    ></span
                  ></span
                ><span v-else>{{description? description: "无"}}</span>
                </span
              >
            </div>
            <div class="editing-text font-6 input-tip" v-if="descriptionErrorTip">{{descriptionErrorTip}}</div>
          </div>
        </div>
        <div class="user-info-line">
          <label>性别</label>
          <div>
            <div
              class="info-input byte-input-group-wrapper byte-input-group-wrapper-default byte-input-has-suffix"
            >
              <span class="byte-input-group"
                ><span class="byte-input-inner-wrapper" v-if="modifyInfo">
                  <el-radio :label="1" v-model="userSex">
                    <span>男</span>
                  </el-radio>
                  <el-radio :label="2" v-model="userSex">
                    <span>女</span>
                  </el-radio> </span
              ><span v-else><img :src="userSex == 1? manImg: womanImg" class="radio-logo"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="user-info-line">
          <label>出生年月</label>
          <div>
            <div
              class="info-input byte-input-group-wrapper byte-input-group-wrapper-default byte-input-has-suffix"
            >
              <span class="byte-input-group"
                ><span class="byte-input-inner-wrapper" v-if="modifyInfo"
                  ><el-date-picker
                    @blur="onblurBirthday"
                    @focus="onfocusBirthday"
                    v-model="birthday"
                    :class="{'error': birthdayErrorTip}"
                    type="date"
                    placeholder="选择日期"
                    format="yyyy-MM-dd"
                    value-format="yyyy-MM-dd"
                    size="small"
                  >
                  </el-date-picker></span
              ><span v-else>{{birthday? birthday: "无"}}</span>
              </span>
            </div>
            <div class="editing-text font-6 input-tip" v-if="birthdayErrorTip">{{birthdayErrorTip}}</div>
          </div>
        </div>
        <div class="user-info-line">
          <label>地址</label>
          <div>
            <div
              class="info-input byte-input-group-wrapper byte-input-group-wrapper-default byte-input-has-suffix"
            >
              <span class="byte-input-group"
                ><span class="byte-input-inner-wrapper" v-if="modifyInfo"
                  >
                    <v-distpicker 
                      @province="onChangeProvince" 
                      @city="onChangeCity" 
                      @area="onChangeArea" 
                      :province="address.province"
                      :city="address.city"
                      :area="address.area"
                      >
                    </v-distpicker>
                </span
              ><span v-else>{{addressText? addressText: "无"}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="user-info-split"></div>
      </div>
      <div class="user-info-item">
        <div class="user-info-title">联系方式</div>
        <div class="user-info-line">
          <label>手机号</label>
          <div class="editing-text">
            <span>{{ phone }}</span
            > 
          </div>
        </div>
        <div class="user-info-line">
          <label>邮箱</label>
          <div class="editing-text">
            <span>{{ email }}</span
            > 
          </div>
        </div>
        <div class="user-info-split"></div>
      </div>
      <div class="user-info-item">
        <div class="user-info-title">账号信息</div>
        <div class="user-info-line">
          <label>用户ID</label>
          <div class="editing-text">
            <span>{{ userId }}</span>
          </div>
        </div>
      </div>
      <div class="user-info-btns">
        <div>
          <button 
            class="byte-btn byte-btn-primary byte-btn-size-default byte-btn-shape-square serial-button" 
            type="button"
            v-if="!modifyInfo"
            @click="modifyUserInfo"
            >
            <span>修改信息</span>
          </button>
          <button
            class="byte-btn byte-btn-default byte-btn-size-default byte-btn-shape-square serial-button user-info-btn"
            type="button"
            v-if="modifyInfo"
            @click="cancelModify"
          >
            <span>取消</span></button
          ><button
            class="byte-btn byte-btn-primary byte-btn-size-default byte-btn-shape-square serial-button"
            type="button"
            v-if="modifyInfo"
            @click="submitModify"
          >
            <span>保存</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
  </div>
</template>

<script>
import globalVal from "../../utils/globalVal.js";
import callCommand from "../../utils/callCommand.js";
import boyImg from "@/assets/boy.png";
import girlImg from "@/assets/girl.png";
import manImg from "@/assets/man.png";
import womanImg from "@/assets/woman.png";
import VDistpicker from '../v-distpicker'
import {Message} from 'element-ui';

export default {
  components: { VDistpicker },
  data() {
    return {
      showPage: true,
      imageUrl: "",
      newImageUrl: '',
      userName: "",
      usernameWord: {
        englishword: 0,
        chineseword: 0,
      },
      newUserName: '',
      description: "",
      newDescription: '',
      descriptionErrorTip: '',
      userId: "",
      userSex: 1,
      newUserSex: 1,
      address: {
        province: '省',
        city: '市',
        area: '区'
      },
      newAddress: {
        province: '省',
        city: '市',
        area: '区',
      },
      addressText: '',
      birthday: "2020-01-30",
      newBirthday: '',
      birthdayErrorTip: '',
      phone: "",
      email: "",
      radio: 1,
      manImg: manImg,
      womanImg: womanImg,
      show: false,
      showFileList: true,
      modifyInfo: false,
      userNameChineseNumber: 0,
      descriptionChineseNumber: 0,
      userNameErrorTip: '',
    };
  },
  methods: {
    onfocusUsername(){
      this.userNameErrorTip = '';
    },
    onblurUsername(){
      if (this.userName == ''){
        this.userNameErrorTip = '用户名不能为空';
      }else if(/^(\d|[\u4e00-\u9fa5]|\w)+$/.test(this.userName)){
        if (/^\d+$/.test(this.userName)){
            this.userNameErrorTip ="用户名不能为纯数字";
          }
          else{
            this.userNameErrorTip ="";
          }
      }
    },
    onfocusDescription(){
      this.descriptionErrorTip = '';
    },
    onblurDescription(){
      if (this.description == ''){
        this.descriptionErrorTip = '自我介绍不能为空';
      }
    },
    onfocusBirthday(){
      this.birthdayErrorTip = '';
    },
    onblurBirthday(){
      if (!this.birthday){
        this.birthdayErrorTip = '出生日期不能为空';
      }
    },
    getUserNameLength(){
      this.usernameWord.chineseword = 0;
      this.usernameWord.englishword = 0;
      for (var i=0; i<this.userName.length; i++){
        var c = this.userName.charAt(i);
        if (/^[\u0000-\u00ff]$/.test(c)){
          this.usernameWord.englishword += 1;
        }else{
          this.usernameWord.chineseword += 1;
        }
      }
    },
    choose(){
        this.show=!this.show
      },
    onChangeProvince(province){    
      this.address.province = province.value;
    },
    onChangeCity(city){
      this.address.city =  city.value;      
    },
    onChangeArea(area){ 
      this.address.area = area.value;
      this.show=false;
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
      this.showFileList = false;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || file.type === "image/png";
      const isLt2M = file.size / 1024 < 30;
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG、PNG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 30KB!");
      }
      return isJPG && isLt2M;
    },
    modifyUserInfo(){
      this.modifyInfo = true;
    },
    cancelModify(){
      this.userName = this.newUserName;
      this.userSex = this.newUserSex;
      this.description = this.newDescription;
      this.birthday = this.newBirthday;
      this.address = this.newAddress;
      this.imageUrl = this.newImageUrl;
      this.modifyInfo = false;
    },
    submitModify(){
      if (this.userName == '' || this.description == '' || !this.birthday || this.address.province.value == '' || this.address.city.value == '' || this.address.area.value == ''){
        this.$message({
          message: '请完善用户信息后再提交',
          type: 'warning'
        });
      }else{
        console.log(this.birthday);
        var userProfile = {
          'userName': this.userName,
          'description': this.description, 
          'sex': this.userSex, 
          'birthday': this.birthday, 
          'address': {
            'province': this.address.province, 
            'city': this.address.city, 
            'area': this.address.area
          }, 
          'image': this.imageUrl
        }
        var command = `$update-user-profile --userId  ${globalVal.userId} --userProfile '${JSON.stringify(userProfile)}'`
        callCommand(command).then(res => {
          this.$message({
            message: '修改信息成功',
            type: 'success'
          });
          this.addressText = userProfile.address.province + userProfile.address.city + userProfile.address.area;
          this.modifyInfo = false;
        })
      }
    }
  },
  mounted() {
    this.userId = globalVal.userId;
    if (this.userId) {
      var command = `$get-user-profile --user ${this.userId}`;
      callCommand(command).then((res) => {
        var userProfile = res.data.data;
        this.email = userProfile.email;
        this.phone = userProfile.phone;
        this.userName = userProfile.userName;
        this.newUserName = userProfile.userName;
        this.getUserNameLength();
        if (userProfile.hasOwnProperty("sex")) {
          this.userSex = userProfile.sex;
          this.newUserSex = userProfile.sex;
        } else {
          this.userSex = 1;
          this.newUserSex = 1;

        }
        if (userProfile.hasOwnProperty("image")) {
          this.imageUrl = userProfile.image;
          this.newImageUrl = userProfile.image;
        } else {
          if (this.userProfile == 2) {
            this.imageUrl = girlImg;
            this.newImageUrl = girlImg;
          } else {
            this.imageUrl = boyImg;
            this.newImageUrl = boyImg;
          }
        }
        if (userProfile.hasOwnProperty("description")) {
          this.description = userProfile.description;
          this.newDescription = userProfile.description;
        }
        if (userProfile.hasOwnProperty("address")) {
          this.address = userProfile.address;
          this.addressText = userProfile.address.province + userProfile.address.city + userProfile.address.area;
          this.newAddress = userProfile.address;
        }
        if (userProfile.hasOwnProperty("birthday")) {
          this.birthday = userProfile.birthday;
          this.newBirthday = userProfile.birthday;
        }
        this.showPage = true;
      });
    }
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 1220px;
  background-color: rgb(255, 255, 255);
  min-height: 1000px;
  position: relative;
  min-height: calc(100vh - 205px);
  margin: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
}
.user-info {
  padding: 50px 150px;
}

.user-info-title {
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 28px;
}

.user-info-line {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 28px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.user-info-line > label {
  color: #7e7e7e;
  width: 108px;
  display: flex;
  vertical-align: middle;
}

.user-info-line > div {
  min-height: 38px;
  color: rgb(121, 119, 119);
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.byte-upload {
  display: inline-block;
  max-width: 100%;
}

input {
  outline: 0;
}

.byte-upload-trigger {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.avatar-upload-content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.user-info-line .byte-avatar {
  background-color: #fff;
}
.byte-avatar-circle {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  line-height: 64px;
  border: 1px solid rgb(255, 255, 255);
}
.byte-avatar {
  display: inline-block;
  position: relative;
  background-color: #c2c6cc;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
}
.suffix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 0;
  z-index: 2;
  user-select: none;
}

.byte-avatar-image img {
  width: 100%;
  height: 100%;
}

.byte-avatar-image {
  display: inline-block;
}

.byte-avatar-image,
.byte-avatar-image img {
  width: 100%;
  height: 100%;
}
button,img {
  border: 0;
  outline: 0;
}


button.byte-btn.byte-btn-default {
  background-color: #ffffff;
  color: #a4a4a4;
}
button.byte-btn.byte-btn {
  min-width: 90px;
  height: 32px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 32px;
  border: none !important;
  margin-left: 24px;
  padding: 0 20px;
}

.user-info-line .info-input {
  width: 754px;
}
.byte-input-group-wrapper {
  display: inline-block;
  vertical-align: top;
}

.byte-input-group-wrapper .byte-input-group {
  display: table;
  width: 100%;
  line-height: 1;
  height: 100%;
}

.byte-input-group-wrapper .byte-input-group .byte-input-inner-wrapper {
  display: table-cell;
  width: 100%;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

el-radio span {
  -webkit-box-align: center;
  align-items: center;
}
.radio-logo {
  width: 30px;
  height: 30px;
}

.byte-input {
  font-size: 14px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid #e8e8e8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--font-color);
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  padding-left: 20px;
}

.suffix {
  right: 10px;
  color: rgb(175, 174, 174);
}

.suffix span {
  font-size: 14px !important;
  background-color: #fff;
}

input::-webkit-input-placeholder{
   color:rgb(179, 174, 174);
   font-size: 14px;
   text-align: left;
   font-family: Arial,Helvetica,STHeiti,"宋体";
}

input:hover{
  border-color: rgb(163, 163, 163);
}

.byte-input-group-wrapper .byte-input-group {
  display: table;
  width: 100%;
  line-height: 1;
  height: 100%;
}

.user-info-line .input-tip {
  position: absolute;
  width: 200px;
  bottom: -24px;
}

.user-info-line .editing-text {
  margin-left: 16px;
}
.font-6 {
  color: #ff4f00;
}

.user-info-split {
  width: 754px;
  height: 1px;
  margin: 50px 0 50px 108px;
  background: #eeeeee;
}

.byte-input-number {
  border: 1px solid #f0efef;
  border-radius: 19px;
  height: 38px;
  box-shadow: none;
}

.error{
  border-color: rgb(233, 84, 84) !important;
}

.user-info-btns {
  margin-top: 88px;
  margin-bottom: 80px;
  text-align: center;
}

button.byte-btn.byte-btn {
  min-width: 90px;
  height: 32px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 32px;
  border: none !important;
  padding: 0 20px;
  background-color: #d4d3d3;
  color: #5f5d5d;
  margin-right: 20px;
}

button.byte-btn.byte-btn-primary {
  font-weight: 500;
  background-image: linear-gradient(117deg, #ff9000 12%, #ff4f00 87%);
  color: white;
}

button.byte-btn.byte-btn-primary:hover{
  background-image: linear-gradient(117deg, #ff7300 12%, #ff3300 87%);
}

.byte-input-number.byte-input-number-hide-control > .byte-input-number-input {
  width: 100%;
}

.serial-input-number .byte-input-number-input {
  background-color: rgb(255, 255, 255);
  border-radius: 19px;
  padding: 0 16px;
}

.byte-input-number-input {
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  border: 0;
  height: 100%;
}

.byte-input-group-wrapper .byte-input-group > :last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.distpicker-address-wrapper select {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

button.byte-btn.byte-btn:hover{
  background-color: rgb(184, 184, 184);
}

.user-info-btn:hover{
  background-color: rgb(184, 184, 184);
}

.bottom{
  width: 100px;
  height: 100px;
}
</style>