<template>
  <div class="bookcase">
    <div class="book-info">
      <div class="book-img">
        <img :src="bookInfo.bookImg" @click="toBookInfo()">
      </div>
      <div class="book-desc">
        <div class="book-desc-cotent">
        <div class="book-name" >
          <span @click="toBookInfo()">{{bookInfo.bookName}}</span>
        </div>
        <div class="author-name">
          <span>{{bookInfo.authorName}}</span>
        </div>
        <div class="book-status">
          <span>{{bookInfo.bookStatus}}·{{(bookInfo.wordCount / 10000).toFixed(1)}}万字·{{(bookInfo.readCount / 10000).toFixed(1)}}万人气</span>
        </div>
        <div class="book-abstract">
          <span>{{bookInfo.bookBrief}}</span>
        </div>
        <div class="book-last-update">
          {{bookInfo.lastPublishTime}}
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BookBrief',
  props: ['bookInfo'],
  data() {
      return { 

      }
  },
  methods: {
    toBookInfo(){
      this.$router.push({path: '/book', query: {"bookId": this.bookInfo.bookId}})
    }
  }
}

</script>
<style lang="scss" scoped>
.book-info {
  width: 390px;
  position: relative;
  display: flex;
}
.book-img {
  width: 120px;
  margin: 25px 0px;
  border-radius: 5px;
}
.book-img img{
  border-radius: 5px;
  overflow: hidden;
  width: 120px;
  transition: all 0.3s;
}

.book-img img:hover{
  transform: scale(1.08);
}

.book-desc{
  margin: 25px 5px;
}

.book-desc-cotent{
  width: 80%;
}

.book-name{
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    word-wrap: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-name:hover{
  color: #ee4d38;
}

.author-name{
  margin-top: 6px;
  font-size: 13px;
  color: #999;
  line-height: 16px;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-status{
  margin-top: 6px;
  font-size: 13px;
  color: #999;
  line-height: 16px;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-abstract{
  margin-top: 6px;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-last-update{
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
</style>

