<template>
  <div>
    <div class="byte-modal-content">
      <div class="login-wrap">
        <div>
          <div
            class="ssosdk-container pwd_login"
            id="sso_container"
            data-pagetype="pwd_login"
          >
            <div class="page-main">
              <div class="content-main content-main-modal">
                <div 
                  class="form-title form-title-normal" 
                  :class="{'active': !loginType}"
                  @click="changeLoginType('phone')">
                  手机登录</div>
                <div
                  class="form-title form-title-active"
                  :class="{'active': loginType}"
                  @click="changeLoginType('password')"
                >
                  密码登录
                </div>
                <div class="form-main">
                  <div class="form-input">
                    <div class="input-container">
                      <input
                        type="text"
                        class="input-custom"
                        :placeholder="accountTip"
                        autocomplete="on"
                        v-model='account'
                      />
                    </div>
                  </div>
                  <div class="form-input form-input-last">
                    <input
                      name="password"
                      :type="loginType ? 'password': 'text'"
                      class="form-input-pwd"
                      :placeholder="psdTip"
                      autocomplete="new-password"
                      v-model='psdCode'
                    /><span id="sso_forget_pwd" class="form-code-text" @click="procAccount()"
                      >{{codeTip}}</span
                    >
                  </div>
                  <div class="error-tips show-tips">{{errorTip}}</div>
                  <button
                    id="sso_submit"
                    class="form-button btn-active"
                    style="background-color: rgb(250, 103, 37); cursor: pointer"
                    @click="loginCheck()"
                  >
                    登录
                  </button>
                </div>
                <div class="href-group-inline">
                  <div class="href-item"><router-link to="/register">立即注册</router-link></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userLoginCheck from '../../../utils/userLoginCheck';
import sendVerifyCode from '../../../utils/sendVerifyCode';

export default {
  data() {
    return {
      loginType: 0,
      accountTip: "请输入手机号码",
      psdTip: "请输入验证码",
      codeTip: "获取验证码",
      errorTip: '',
      account: '',
      psdCode: '',
      realVerifyCode: '',
    }
  },
  methods: {
    changeLoginType(type){
      if (type == 'phone' && this.loginType != 0){
        this.loginType = 0;
        this.account = '';
        this.psdCode = '';
        this.accountTip = "请输入手机号码";
        this.psdTip = "请输入验证码";
        this.codeTip = "获取验证码";
        this.errorTip = '';
      }
      if ((type == 'password' && this.loginType != 1)){
        this.loginType = 1;
        this.account = '';
        this.psdCode = '';
        this.accountTip = "请输入手机号码/邮箱";
        this.psdTip = "请输入密码";
        this.codeTip = "忘记密码";
        this.errorTip = '';
      }
    },
    loginCheck(){
      var checkSucc = false;
      if (this.loginType == 0){
        if (this.account.length != 11 || !(/^\d+$/.test(this.account))){
          this.errorTip = '手机号码格式不正确'
        }else if(this.psdCode.length != 6){
          this.errorTip = '验证码为六位数'
        }else{
          if (this.realVerifyCode != this.psdCode){
            this.errorTip = '验证码不正确';
          }else{
            checkSucc = true;
          }
        }
      }else{
        if (/.*@.*/.test(this.account)){
          console.log(this.account)
          if (this.account === ''){
          this.errorTip = "邮箱不能为空"
          }else if(this.account.indexOf('@') > 0 && this.account.indexOf('.') > 0 
                  && this.account.indexOf('@') < this.account.indexOf('.') 
                  && this.account.indexOf('.') < this.account.length){
                    checkSucc = true;
                    this.errorTip = '';
          }else{
            this.errorTip = '邮箱格式不正确';
          }
        }else{
          if (this.account.length != 11 || !(/^\d+$/.test(this.account))){
              this.errorTip = '手机号码格式不正确'
          }else{
            if (this.psdCode != ''){
              checkSucc = true;
              this.errorTip = '';
            }else{
              this.errorTip = '密码不能为空'
            }
          }
        }
      }
      if (checkSucc){
        userLoginCheck(this.account, this.psdCode, this.loginType).then(res => {
          var data = res.data.data;
          if (data.hasOwnProperty('userId')){
            var userId = data.userId;
            var date = new Date();
            date.setTime(date.getTime() + (7 * 24 * 60 * 60 * 1000));
            var expires = date.toUTCString();
            document.cookie = `userId=${userId}; expires=${expires}`;
            this.$router.go(0);
          }else{
            if (data.hasOwnProperty('error')){
              this.errorTip = data.error;
            }
          }
        })
      }
    },
    procAccount(){
      if (this.loginType == 0){
        if (this.account.length != 11 || !(/^\d+$/.test(this.account))){
          this.errorTip = '手机号码格式不正确';
        }else{
          sendVerifyCode(this.account).then(res => {
            this.realVerifyCode = res.data.data;
          })
        }
      }else{
        this.$router.push({path: '/reset'});
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.byte-modal-content {
    color: black;
}

.page-main {
    position: relative;
    display: inline-block;
    width: 400px;
}

.content-main {
    border: none;
    min-height: 228px;
}

.ssosdk-container .content-main-modal {
    border-radius: 4px;
}

.ssosdk-container .content-main {
    padding: 0px 26px 10px;
    background-color: #ffffff;
}

.ssosdk-container .form-title-normal {
    color: #666;
    font-weight: 300;
    cursor: pointer;
}

.ssosdk-container .form-title {
    line-height: 28px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 8px;
    font-family: 'PingFangSC';
}

.ssosdk-container .form-title {
    line-height: 28px;
    vertical-align: top;
    font-size: 20px;
    color: #222;
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 8px;
    font-weight: 500;
    font-family: 'PingFangSC';
}

.active{
    border-bottom: 2px solid rgb(250, 103, 37);
    color: rgb(250, 103, 37) !important;
}

.ssosdk-container .form-main {
    margin: 0 auto;
}

.form-input:first-child {
    margin-top: 20px;
}
.ssosdk-container .form-main .form-input {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 22px;
    margin-bottom: 12px;
    padding: 8px 10px;
    border-radius: 4px;
    border: solid 1px #d9d9d9;
}

.ssosdk-container .form-main .form-input:hover {
    border: solid 1px #69afe7;
}

.ssosdk-container .form-main .form-input .input-container {
    display: flex;
}

.ssosdk-container .form-main .form-input .input-container input {
    width: 100%;
}

.ssosdk-container .form-main .form-input input {
    border: none;
    height: 22px;
    line-height: 22px;
    background: none;
}

.ssosdk-container input {
    outline: none;
    box-shadow: none;
}

.form-input-last {
    margin-bottom: 0;
}

.ssosdk-container .form-main .form-input .form-input-pwd {
    width: 100%;
    padding-right: 66px;
}

.form-code-text {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #222;
    text-align: right;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
}

.form-code-text:hover{
  color: rgb(128, 123, 120);
}

.ssosdk-container .show-tips {
    display: block;
}

.ssosdk-container .error-tips {
    white-space: nowrap;
    font-size: 12px;
    width: 100%;
    height: 24px;
    line-height: 0px;
    color: #ff5e5e;
}

.ssosdk-container .btn-active {
    background-color: #f85959;
    color: #fff;
    cursor: pointer;
    border: none;
}

.ssosdk-container .form-button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 34px;
}

.ssosdk-container button {
    outline: none;
}

.href-group-inline {
    width: 100%;
    padding: 10px 0;
    display: flex;
    margin-top: -26px;
}

.href-item {
    display: inline-block;
    color: #666;
    font-size: 12px;
    line-height: 8px;
    cursor: pointer;
    border-right: none;
}

.href-item:hover {
    color: rgb(224, 82, 57);
}
</style>