<template>
  <el-menu class="navbar" mode="horizontal">
    <div class="user-profile-container" trigger="click">
      <div class="user-profile-content">
        <div class="menu-icons">
          <span class="menu-icon"
            ><div>
              <div
                class="serial-input serial-input-len-suffix-search byte-input-group-search-wrapper byte-input-group-search-wrapper-default byte-input-has-suffix-search"
                style="width: 621px"
              >
                <span class="byte-input-group-search"
                  ><span class="byte-input-inner-wrapper"
                    ><el-input
                      placeholder="请输入书名或者作品名称"
                      class="byte-input-size-default byte-input"
                      v-model="searchContent"
                      @keyup.enter.native="keyup_submit(event)"
                      /><span class="suffix-search" style="width: 22px; height: 22px;" @click="toSearch()"></span></span
                ></span>
              </div>
            </div>
           </span>
        </div>
        <el-dropdown>
          <div class="user-profile-body">
            <img class="user-avatar" :src="userImg" />
            <span class="user-name">{{ userName }}</span>
          </div>
          <el-dropdown-menu class="user-dropdown" slot="dropdown">
            <router-link to="/my/profile">
              <el-dropdown-item>
                <div class="menu-header">
                  <img
                    class="menu-icon"
                    :src="settingImg"
                    style="width: 16px; height: 16px"
                  />
                  <span style="margin-left: 5px"
                    ><router-link to="/my/profile">个人信息</router-link></span
                  >
                </div>
              </el-dropdown-item>
            </router-link>
            <el-dropdown-item>
              <div class="menu-header">
                <img
                  class="menu-icon"
                  :src="logoutImg"
                  style="width: 20px; height: 20px; margin-left: -3px"
                />
                <span @click="logout" style="margin-left: 5px">退出</span>
              </div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <el-dialog
        :visible.sync="disableDialog"
        width="430px"
        center
        top="25vh"
        :show-close="showClose"
        :close-on-click-modal="false"
      >
        <login></login>
      </el-dialog>
    </div>
  </el-menu>
</template>

<script>
import Login from "./Login";
import globalVal from "../../../utils/globalVal";
import callCommand from "../../../utils/callCommand";
import boyImg from "@/assets/boy.png";
import girlImg from "@/assets/girl.png";
import logoutImg from "@/assets/logout.png";
import defalutImg from "@/assets/default.png";
import settingImg from "@/assets/setting.png";

export default {
  components: { Login },
  name: "NavBar",
  data() {
    return {
      showClose: false,
      disableDialog: true,
      userName: "",
      userImg: defalutImg,
      logoutImg: logoutImg,
      settingImg: settingImg,
      searchContent: '',
    };
  },
  created() {
    var userId = this.get_cookie("userId");
    globalVal.userId = userId;
    if (globalVal.userId !== "") {
      var date = new Date();
      date.setTime(date.getTime() + 7 * 24 * 60 * 60 * 1000);
      var expires = date.toUTCString();
      document.cookie = `userId=${userId}; expires=${expires}`;
      this.disableDialog = false;
      var command = `$get-user-profile --userId ${globalVal.userId}`;
      callCommand(command).then((res) => {
        var user_profile = res.data.data;
        this.userName = user_profile.userName;
        if (user_profile.hasOwnProperty("image")) {
          this.userImg = user_profile.image;
        } else {
          if (user_profile.hasOwnProperty("sex")) {
            if (user_profile.sex == 1) {
              this.userImg = boyImg;
            } else {
              this.userImg = girlImg;
            }
          } else {
            this.userImg = boyImg;
          }
        }
      });
    }
  },
  methods: {
    toSearch(){
      if (this.searchContent != ''){
        this.$router.push({path: '/search', query: {content: this.searchContent}})
      }
    },
    keyup_submit(event){
      var evt = window.event || e; 
      if (evt.keyCode == 13){
　　    this.toSearch();
      }
    },
    logout() {
      var date = new Date();
      date.setTime(date.getTime() - 7 * 24 * 60 * 60 * 1000);
      var expires = date.toUTCString();
      document.cookie = `userId=${globalVal.userId};expires=${expires}`;
      globalVal.userId = "";
      this.disableDialog = true;
      this.userName = "";
      this.userImg = defalutImg;
    },
    get_cookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i].trim();
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    },
  },
};
</script>

<style lang="scss">
.navbar {
  height: 64px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  .user-profile-container {
    position: absolute;
    right: 20px;
    cursor: pointer;
    .user-profile-content {
      display: flex;
      padding: 20px 0;
    }
    .menu-icons {
      display: flex;
      align-items: center;
      .menu-icon {
        padding: 0 20px;
        .icon {
          display: inline-block;
          font-size: 18px;
          text-align: center;
        }
      }
    }
    .user-profile-body {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-right: 14px;
    }
    .user-avatar {
      width: 30px;
      height: 30px;
      margin: 0 8px 0 12px;
      border-radius: 4px;
    }
    .user-name {
      color: rgba(0, 0, 0, 0.65);
    }
    .user-department {
      font-size: 12px;
      color: rgba(102, 102, 102, 0.65);
    }
    .el-icon-caret-bottom {
      position: absolute;
      right: 0;
      top: 13px;
      font-size: 12px;
    }
  }
}

.menu-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0px;
}

.byte-input-group-search-wrapper {
    display: inline-block;
    vertical-align: top;
}
.byte-input-group-search-wrapper .byte-input-group-search {
    display: table;
    width: 70%;
    line-height: 1;
    height: 80%;
}
.byte-input-inner-wrapper {
    display: table-cell;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}
.byte-input-group-search>:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.byte-input-number.byte-input-number-hide-control > .byte-input-number-input {
  width: 100%;
}

.byte-input-group-search input.el-input__inner {
    border-radius:25px;
    height: 35px;
    &:focus{
        border-color: rgb(128, 128, 128);
    }
}

.suffix-search{
  margin-left: -42px;
  width: 26px;
  height: 26px;
  background-image: url('../../../assets/search.png');
  background-size: 26px 26px;
}

.suffix-search:hover{
  background-image: url('../../../assets/search-hover.png');
  background-size: 26px 26px;
}
.serial-input-number .byte-input-number-input {
  background-color: transparent;
  border-radius: 19px;
  padding: 0 16px;
}

.byte-input-number-input {
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  border: 0;
  height: 100%;
}

.byte-input-group-search-wrapper .byte-input-group-search > :last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.byte-input-group-search-wrapper
  .byte-input-group-search
  .byte-input-inner-wrapper
  .byte-input {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

div.byte-input-group-search-wrapper
  .byte-input-group-search
  .byte-input-inner-wrapper
  .suffix-search {
  color: #a4a4a4;
}

.byte-input-group-search-wrapper .byte-input-group-search .byte-input-inner-wrapper .suffix-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 0;
  z-index: 2;
  user-select: none;
}
</style>

