<template>
  <div class="container" v-if="showPage">
    <div class="main">
      <div class="qm-mod">
        <div class="qm-mod-th">
          <h2 class="tit-create">
            <a @click="pre()"
              ><span class="left-icon"></span>{{bookName}}</a
            >
          </h2>
        </div>
        <div class="byte-tabs-content byte-tabs-content-horizontal">
          <div class="byte-tabs-content-inner" style="margin-left: 0%">
            <div class="byte-tabs-content-item byte-tabs-content-item-active">
              <div class="byte-tabs-pane">
                <div class="chapter">
                  <div class="chapter-select">
                    <div
                      tabindex="0"
                      class="byte-select byte-select-size-default"
                      style="
                        width: 160px;
                        margin-right: 20px;
                        margin-bottom: 10px;
                      "
                    >
                      <span class="font-2">共{{totalSize}}篇章节</span>
                    </div>
                    <div class="btns">
                      <a
                        ><button
                          class="byte-btn byte-btn-primary byte-btn-size-default byte-btn-shape-square serial-button btns-add font-2"
                          type="button"
                          v-if='bookStatus == 2'
                          @click="toCreateChapter()"
                        >
                          <span>新建章节</span>
                        </button>
                        <el-button
                          class="byte-btn byte-btn-size-default byte-btn-shape-square serial-button"
                          type="info"
                          style="margin-right: 100px;"
                          disabled
                          v-else
                        >
                          <span>创建章节</span
                          ></el-button></a
                      >
                    </div>
                  </div>
                  <div class="chapter-table" v-if="totalSize">
                    <div class="byte-table-wrapper">
                      <div
                        class="byte-table serial-table byte-table-size-default"
                      >
                        <div class="byte-spin">
                          <div class="byte-spin-container">
                            <div class="byte-spin-content">
                              <div class="byte-table-clear-float">
                                <div class="byte-table-container">
                                  <div class="byte-table-content-scroll">
                                    <div class="byte-table-content-inner">
                                      <table cellpadding="0" cellspacing="0">
                                        <colgroup>
                                          <col
                                            style="
                                              max-width: 280px;
                                              min-width: 280px;
                                              width: 280px;
                                            "
                                          />
                                          <col />
                                          <col />
                                          <col />
                                          <col
                                            style="
                                              max-width: 110px;
                                              min-width: 110px;
                                              width: 110px;
                                            "
                                          />
                                        </colgroup>
                                        <thead>
                                          <tr>
                                            <th class="">
                                              <div class="byte-table-th-item">
                                                <span
                                                  class="byte-table-th-item-title"
                                                  >章节名称</span
                                                >
                                              </div>
                                            </th>
                                            <th class="">
                                              <div class="byte-table-th-item">
                                                <span
                                                  class="byte-table-th-item-title"
                                                  >字数</span
                                                >
                                              </div>
                                            </th>
                                            <th class="">
                                              <div class="byte-table-th-item">
                                                <span
                                                  class="byte-table-th-item-title"
                                                  ><span>审核状态</span></span
                                                >
                                              </div>
                                            </th>
                                            <th class="">
                                              <div class="byte-table-th-item">
                                                <span
                                                  class="byte-table-th-item-title"
                                                  >发表时间</span
                                                >
                                              </div>
                                            </th>
                                            <th
                                              class=""
                                              style="text-align: right"
                                            >
                                              <div class="byte-table-th-item">
                                                <span
                                                  class="byte-table-th-item-title"
                                                  >操作</span
                                                >
                                              </div>
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="tr" v-for='(chapterInfo,index) in chapterInfoItems' :key="chapterInfo.contentId"> 
                                            <td class="">
                                              <div class="byte-table-cell">
                                                <div
                                                  class="table-title hoverup"
                                                  @click="toContent(index)"
                                                >
                                                 <a> {{chapterInfo.title}} </a>
                                                </div>
                                              </div>
                                            </td>
                                            <td class="">
                                              <div class="byte-table-cell">
                                                <span>{{chapterInfo.contentWordCount}}</span>
                                              </div>
                                            </td>
                                            <td class="">
                                              <div class="byte-table-cell">
                                                <span>{{chapterInfo.status}}</span>
                                              </div>
                                            </td>
                                            <td class="">
                                              <div class="byte-table-cell">
                                                <span>{{chapterInfo.contentUpdateTime}}</span>
                                              </div>
                                            </td>
                                            <td
                                              class=""
                                              style="text-align: right"
                                            >
                                              <div class="byte-table-cell">
                                                <a
                                                  class="link"
                                                  ><span
                                                    @click="editChapter(chapterInfo.itemId)"
                                                    class="icon-edit-chapter tomato-edit font-1"
                                                  ></span></a
                                                ><span
                                                  class="icon-delete tomato-delete"
                                                  @click="open(chapterInfo.itemId)"
                                                ></span>
                                              </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="byte-pagination muye-stack-pagination byte-pagination-size-default"
                    >
                      <div class="byte-pagination-option">
                        <el-pagination
                          background
                          layout="prev, pager, next, jumper"
                          @current-change="changePageFrom"
                          :total="totalSize"
                          :page-size="pageSize"
                          :pager-count="pagerCount"
                          :hide-on-single-page="true"
                          :current-page="currentPage"
                        >
                        </el-pagination>
                      </div>
                    </div>
                  </div>
                  <div class="byte-tabs-content-item" v-else>
                    <div class="byte-tabs-pane">
                      <div class="draft">
                        <div class="draft-table">
                          <div class="byte-empty serial-empty empty">
                            <div class="byte-empty-wrapper">
                              <div class="byte-empty-image">
                                <img
                                  alt="暂无草稿"
                                  src="https://p1.pstatp.com/origin/pgc-image/e045ed7e33304b6f84fad0fa70359e89"
                                />
                              </div>
                              <div class="byte-empty-description">暂无文章</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</template>

<script>
import callCommand from '../../utils/callCommand';
export default {
  data() {
    return {
      showPage: false,
      chapterInfoItems: [],
      totalSize: 0,
      pageSize: 10,
      pageFrom: 0,
      currentPage: 1,
      pagerCount: 5,
      bookName: '',
      bookId: '',
      bookStatus: 2
    };
  },
  methods: {
    pre() {
      this.$router.go(-1);
    },
    toContent(index){
      this.$router.push({path: '/content', query: {bookId: this.bookId, pageFrom: index}});
    },
    editChapter(itemId){
      this.$router.push({path: '/edit/chapter', query: {bookId: this.bookId, itemId: itemId}});
    },
    changePageFrom(val){
      this.showPage = false;
      this.pageFrom = (val - 1 ) * this.pageSize;
      this.currentPage = val;
      var command = `$get-chapter --bookId '${this.bookId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
      callCommand(command).then(res => {
        this.totalSize = res.data.data.totalSize;
        this.chapterInfoItems = res.data.data.chapterInfoItems;
        this.showPage = true;
      })
    },
    toCreateChapter(){
      this.$router.push({path: '/create/chapter', query: {bookId: this.bookId, bookName: this.bookName}});
    },
    open(itemId) {
        this.$confirm('此操作将永久删除该章节, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          var command = `$delete-chapter --bookId '${this.bookId}' --itemId '${itemId}'`;
          console.log(command)
          callCommand(command).then(res => {
            var command = `$get-chapter --bookId '${this.bookId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
            callCommand(command).then(res => {
              this.totalSize = res.data.data.totalSize;
              this.chapterInfoItems = res.data.data.chapterInfoItems;
            })
          })
        }).catch(() => {         
        });
      }
  },
  mounted(){
    this.bookId = this.$route.query.bookId;
    this.bookName = this.$route.query.bookName;
    var command = `$get-chapter --bookId '${this.bookId}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
    callCommand(command).then(res => {
      this.totalSize = res.data.data.totalSize;
      this.chapterInfoItems = res.data.data.chapterInfoItems;
      this.bookStatus = res.data.data.bookStatus;
      this.showPage = true;
    })
  }
};
</script>

<style lang='scss' scoped>
.main {
  width: 1220px;
  margin: 15px 15px;
  min-height: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}
button {
  outline: none;
}
.qm-mod-th {
  width: 95%;
  margin-left: 20px;
  border-bottom: solid 1px #f1f1f1;
  height: 64px;
  line-height: 64px;
}

.tit-create {
  padding-left: 20px;
  font-size: 20px;
  color: #353535;
  float: left;
  font-weight: 300;
  font-family: SourceHanSerifCN-Bold;
}
.left-icon {
  margin-top: 23px;
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/return.png");
  background-size: 20px 20px;
}

.tit-create:hover {
  color: rgb(255, 75, 75);
  .left-icon {
    background-image: url("../../assets/return-hover.png");
    background-size: 20px 20px;
  }
}
.byte-tabs > .byte-tabs-content {
  width: 100%;
  overflow: hidden;
  color: var(--font-color);
}
.byte-tabs > .byte-tabs-content .byte-tabs-content-inner {
  display: flex;
  width: 100%;
}
.table-title:hover{
  color: red;
}
.byte-tabs
  > .byte-tabs-content
  .byte-tabs-content-item.byte-tabs-content-item-active {
  height: auto;
}
.byte-tabs > .byte-tabs-content .byte-tabs-content-item {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.chapter {
  margin-top: 27px;
}
.byte-select-size-default {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
.byte-select {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
}
.chapter-select .btns {
  margin-right: 2px;
  float: right;
}
.chapter-table {
  margin-top: 14px;
  min-height: 500px;
  margin-bottom: 166px;
}
.byte-table-wrapper {
  position: relative;
  background-color: rgb(255, 255, 255);
}
.byte-table {
  width: 100%;
}
.byte-table .byte-spin,
.byte-table .byte-spin-container {
  display: block;
}

.byte-spin .byte-spin-container {
  position: relative;
  width: 100%;
}
.byte-spin .byte-spin-container .byte-spin-content {
  position: relative;
}
.serial-table.byte-table .byte-table-container {
  border-bottom: none;
}
.byte-table-container {
  position: relative;
}
.byte-table-content-scroll {
  width: 100%;
  overflow: hidden;
}
.byte-table-content-scroll .byte-table-content-inner {
  width: auto;
}
.byte-table table {
  min-width: 80%;
  width: 80%;
  margin-left: 10%;
  border-spacing: 0px;
  border-collapse: separate;
}
.byte-table table thead {
  font-weight: 500;
}
table,
td,
tr {
  border-collapse: collapse;
}
.serial-table.byte-table th {
  background-color: rgb(252, 252, 252);
  border-bottom: 1px solid rgb(235, 235, 235);
}
.byte-table th {
  box-sizing: border-box;
  text-align: left;
  color: var(--font-color);
  font-size: 14px;
}

.serial-table.byte-table th .byte-table-th-item {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}
.byte-table-th-item:not(.byte-table-col-has-sorter) {
  padding: 16px 24px;
}
.byte-table-th-item {
  position: relative;
  transition: background-color 0.3s ease 0s;
}
.serial-table.byte-table th .byte-table-th-item-title {
  color: rgb(164, 164, 164);
  font-weight: 400;
}
.byte-table-th-item-title {
  margin-right: 2px;
}
.serial-table.byte-table th .byte-table-th-item {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}
.byte-table-th-item:not(.byte-table-col-has-sorter) {
  padding: 16px 24px;
}
.byte-table-th-item {
  position: relative;
  transition: background-color 0.3s ease 0s;
}
.serial-table.byte-table tr td {
  border-bottom: 1px solid rgb(245, 245, 245) !important;
}
.byte-table td {
  box-sizing: border-box;
  padding: 16px 24px;
  text-align: left;
  background: rgb(255, 255, 255);
  color: var(--font-color);
  font-size: 14px;
}
tr{
    color: #5d5d5d;
}
.serial-table.byte-table tr .byte-table-cell {
  height: 20px;
  line-height: 20px;
}
.byte-table-cell {
  word-break: break-all;
}
.chapter-table .table-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 232px;
}
.icon-edit-chapter {
  cursor: pointer;
  width: 22px;
  height: 22px;
  content: "";
  position: absolute;
  float: right;
  margin-left: -40px;
}
.icon-edit-chapter {
  background: url('../../assets/modify.png');
  background-size: 22px 22px;
}
.icon-edit-chapter:hover {
  background: url('../../assets/modify-hover.png');
  background-size: 22px 22px;
}
.chapter-table .byte-table .disabled {
  color: rgb(164, 164, 164);
  cursor: not-allowed;
}
.icon-delete {
  margin-top: 1px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  margin-left: -10px;
}
.icon-delete {
  background-image: url('../../assets/delete.png');
  background-size: 20px 20px;
}
.icon-delete:hover {
  background-image: url('../../assets/delete_hover.png');
  background-size: 20px 20px;
}
.byte-tabs > .byte-tabs-content .byte-tabs-content-item {
  width: 100%;
  overflow: hidden;
  height: 0px;
  flex-shrink: 0;
}
.draft {
  margin-top: 19px;
}
.draft-header .btns {
  float: right;
  margin-top: -6px;
  margin-right: 2px;
}
.draft-header .btns-add,
.draft-header .btns a {
  display: inline-block;
  border-radius: 16px;
}
.draft-table .empty {
  padding-top: 150px;
  text-align: center;
}
.byte-empty {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}
.byte-empty .byte-empty-wrapper {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #c2c6cc;
}
.draft-table .empty .byte-empty-image {
  font-size: 14px;
  margin-bottom: 0px;
}
.font-2 {
  color: #a4a4a4;
}
.draft-table .empty img {
  width: 140px;
  height: 140px;
}
.draft-table .empty .byte-empty-description {
  margin-top: -2px;
  color: rgb(164, 164, 164);
}
.muye-stack-pagination.byte-pagination {
  padding-top: 62px;
  padding-bottom: 50px;
  justify-content: center;
}
.byte-pagination {
  display: flex;
  align-items: center;
}
.bottom {
  width: 100%;
  height: 100px;
}
</style>