<template>
  <div class="immersive-content">
    <div class="publish" style="height: 754px">
      <div class="publish-header">
        <div class="publish-header-left muye-link-text">
          <i></i
          ><span
            ><a @click="pre()" class="tomato-left"
              ><span class="left-icon-chapter"></span
              >{{bookName}}</a
            ></span
          >
        </div>
        <div class="publish-header-right">
          <button
            class="byte-btn byte-btn-default byte-btn-size-default byte-btn-shape-square serial-button"
            type="button"
            @click="getContent(1)"
          >
            <span>保存</span></button
          ><button
            class="byte-btn byte-btn-primary byte-btn-size-default byte-btn-shape-square serial-button publish-button"
            type="button"
            style="margin-left: 20px"
            @click="getContent(2)"
          >
            <span>发表</span>
          </button>
        </div>
      </div>

      <div class="publish-editor-inner-block"></div>
      <div class="publish-editor">
        <div class="publish-editor-inner-wrap">
          <div class="publish-editor-inner">
            <div class="publish-editor-title font-size-16">
              <div class="publish-editor-title-inner">
                <div class="publish-editor-title-left none">
                  <span>第</span
                  ><span class="left-input"
                    ><input
                      type="text"
                      class="byte-input byte-input-size-default chapter-title"
                      style="border-bottom: solid 1px rgb(129, 129, 129)"
                      v-model='titleIndex' /></span
                  ><span>章</span>
                </div>
                <div class="publish-editor-title-right">
                  <div class="common-input-hint input">
                    <input
                      placeholder="请输入标题"
                      class="common-input-hint-area byte-input byte-input-size-default"
                      v-model='title'
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="syl-editor-container font-size-16"
              style="font-size: 16px"
            >
              <div class="syl-editor" style="position: relative">
                <div>
                  <div><div class="syl-toolbar"></div></div>
                </div>
                <div
                  class="ProseMirror"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  contenteditable="true"
                >
                  <p><br></p>
                </div>
                <div class="edit-plugin-tooltip typo" style="">
                  <span class="edit-plugin-rectangle"></span>
                  <div class="edit-plugin-tooltip-content"></div>
                </div>
              </div>
            </div>
            <div class="publish-editor-speak">
              <div class="publish-editor-speak-title">作者有话说</div>
              <div class="publish-editor-speak-input">
                <div class="common-input-hint textarea">
                  <textarea
                    spellcheck="false"
                    class="byte-textarea-chapter common-input-hint-area"
                    placeholder="选填，请在此处输入你想和读者说的话，不计入正文字数统计。"
                    maxlength="300"
                    v-model='authorSpeak'
                  ></textarea>
                  <div class="common-input-hint-sign">{{authorSpeak.length}}/300</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="publish-editor-status">
        <div>
          <span class="publish-editor-status-split"></span>正文字数<span
            class="publish-editor-status-count"
            >{{contentWordCount}}</span
          >
        </div>
        <el-popover
          placement="top-start"
          title="注意平台不允许发布以下内容:"
          width="300"
          trigger="hover"
          offset="150"
          :open-delay="200"
          :visible-arrow="false"
          content="1、含有与小说情节无关的内容，如求过审、请假信息等（小剧场或给读者的话请发布到“作者有话说”）；2、写作不规范，影响阅读体验的内容，如拼音替代词、乱码、不分段、无标点等；
3、引导关注，如带有QQ群、微信、微博等联系方式的信息；
4、含有违反法律法规和相关政策的内容，如校园背景下的未成年暴力、宣扬淫秽色情、低俗、赌博、吸毒，渲染暴力、恐怖，教唆犯罪或者传授犯罪方法；
5、破坏国家宗教政策，宣扬宗教狂热，危害宗教和睦，宣扬邪教、封建迷信等。"
        >
          <div class="title-label font-2" slot="reference">
            <span class="create-chapter-input-icon"></span>
            <div class="font-2 hoverup" style="float: right">
              <a>编写规范</a>
            </div>
          </div>
        </el-popover>
      </div>
    </div>
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script>
import _ from 'lodash';
import globalVal from '../../utils/globalVal';
import callCommand from '../../utils/callCommand';
export default {
  data() {
    return {
      content: "",
      contentWordCount: 0,
      hides: true,
      titleIndex: '',
      title: '',
      authorSpeak: '',
      bookName: '',
      bookId: '',
      contentId: '',
    };
  },
  methods: {
    pre() {
      this.$router.go(-1);
    },
    getContentWordCount(){
      this.contentWordCount = 0;
      var pTags = document.getElementsByTagName("p");
      for (var i=0; i<pTags.length; i++){
        var content = pTags[i].innerHTML;
        if (content == '<br>'){
          continue;
        }
        this.contentWordCount = this.contentWordCount + content.length;
      }
    },
    getContent(type){
      if (this.titleIndex == '' || this.title == '' || this.contentWordCount == 0){
        this.$message({
                'message': '内容没有填写完整',
                'type': 'error' });
      }
      else if (this.contentWordCount < 2000){
        this.$message({
                'message': '正文内容字数不能少于2000',
                'type': 'warning' });
      }else{
        this.content = ''; 
        var content_p = document.getElementsByClassName("ProseMirror");
        var content = content_p[0].innerHTML;
        this.content = "<p><br></p>" + content;
        var command = `$cache-content --userId '${globalVal.userId}' --bookId '${this.bookId}' --content '${this.content}' --chapterTitle '${this.title}' --titleIndex ${this.titleIndex} --contentWordCount ${this.contentWordCount} --type ${type} --authorSpeak '${this.authorSpeak}'`;
        callCommand(command).then(res => {
          this.cotentId = res.data.data.itemId;
          if (type == 1){
            this.$message({
                'message': '发表成功',
                'type': 'success' });
          }else{
            this.$message({
                'message': '保存成功',
                'type': 'success' });
          }
      })
      }
    },

  },
  mounted(){
    this.bookName = this.$route.query.bookName;
    this.bookId = this.$route.query.bookId;
  },
  created: function(){
    var _this = this;
    _this.timeId = setInterval(function() {
      _this.getContentWordCount();
    }, 200);
  }
};
</script>

<style lang='scss'>
.publish {
  color: rgb(0, 0, 0);
  height: 100%;
  min-width: 1280px;
  overflow: hidden;
  position: relative;
}
.publish-header {
  height: 102px;
  position: relative;
  font-size: 14px;
  width: 100%;
}
.publish-header-left {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 20px;
  top: 42px;
  left: 40px;
  cursor: pointer;
}
.muye-link-text {
  color: #000;
  transition: color 0.3s;
}
.publish-header-left i {
  font-size: 15px;
  margin-right: 4px;
}
.publish-maintain {
  width: 800px;
  margin: 0px auto;
}
.publish-header .publish-maintain > div {
  display: inline-block;
  height: 62px;
  padding-top: 42px;
  cursor: pointer;
}
.publish-header .publish-maintain > div i {
  margin-left: 3px;
  font-size: 12px;
  margin-top: -3px;
}
.publish-header-right {
  position: absolute;
  right: 40px;
  top: 34px;
}
button.byte-btn.byte-btn-default {
  background-color: #f6f6f6;
  color: #a4a4a4;
}
.tip-content {
  color: rgb(160, 160, 160);
}
button.byte-btn.byte-btn {
  min-width: 90px;
  height: 32px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 32px;
  border: none !important;
  padding: 0 20px;
}
.publish-editor-nav-container {
  position: absolute;
  top: 102px;
  z-index: 1;
  left: calc(50% - 460px);
}
.publish-editor-nav {
  width: 40px;
  height: 241px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
}
.publish-editor-nav-item {
  padding: 10px 8px;
  line-height: 24px;
  height: 44px;
  cursor: pointer;
  position: relative;
}
.publish-editor-nav-item i {
  font-size: 24px;
}
.publish-editor {
  height: calc(100% - 102px);
  overflow-y: auto;
  position: relative;
}
.publish-editor-inner-wrap {
  height: calc(100% - 102px);
  padding-left: calc(100vw - 100%);
}
.publish-editor-inner,
.publish-editor-inner-block {
  background-color: rgb(255, 255, 255);
  width: 800px;
  transition: all 0.3s ease 0s;
}
.syl-editor .ProseMirror .syl-placeholder {
  color: #999;
}
.syl-editor .ProseMirror span {
  text-indent: 0;
}
.publish-editor-inner {
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
  margin: 0px auto;
  padding: 10px 72px 86px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  border-left: solid 1px rgb(230, 230, 230);
  border-right: solid 1px rgb(230, 230, 230);
}
.publish-editor-title.font-size-16,
.publish-editor-title.font-size-16 .byte-input {
  font-size: 24px;
  line-height: 33px;
}
.publish-editor-title.font-size-16 {
  margin-bottom: 32px;
}
.publish-editor-title,
.publish-editor-title .byte-input {
  font-weight: 500;
  border: none;
  padding: 0px;
  background-color: transparent;
  box-shadow: none !important;
}
.publish-editor-title-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.publish-editor-title-left.none {
  color: rgb(71, 71, 71);
}
.publish-editor-title-left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.publish-editor-title.font-size-16 .left-input {
  width: 72px;
  margin: 0px 10px;
}
.publish-editor-title-left .left-input {
  position: relative;
}
.publish-editor-title.font-size-16 .byte-input {
  height: 33px;
}
.publish-editor-title.font-size-16,
.publish-editor-title.font-size-16 .byte-input {
  font-size: 24px;
  line-height: 33px;
}
.publish-editor-title-left .left-input input {
  text-align: center;
}
.publish-editor-title,
.publish-editor-title .byte-input {
  font-weight: 500;
  border: none;
  padding: 0px;
  background-color: transparent;
  box-shadow: none !important;
}
.byte-input,
.byte-textarea-chapter {
  outline: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  border-radius: var(--border-radius);
  color: var(--font-color);
  box-sizing: border-box;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}
.publish-editor-title.font-size-16 .publish-editor-title-right {
  margin-left: 24px;
}
.publish-editor-title-right {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}
.common-input-hint {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.publish-editor-title.font-size-16 .byte-input {
  height: 33px;
}
.publish-editor-title.font-size-16,
.publish-editor-title.font-size-16 .byte-input {
  font-size: 24px;
  line-height: 33px;
}
.publish-editor-title,
.publish-editor-title .byte-input {
  font-weight: 500;
  border: none;
  padding: 0px;
  background-color: transparent;
  box-shadow: none !important;
}
.common-input-hint-area {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}
.syl-editor-container.font-size-16 {
  line-height: 1.75;
}
.syl-editor-container {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: calc(100vh - 240px);
}
.syl-editor {
  min-height: 100%;
  color: rgb(0, 0, 0);
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.syl-editor .ProseMirror {
  width: 100%;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}
.syl-editor .ProseMirror p {
  word-break: break-all;
  text-indent: 2em;
  text-align: left !important;
}
.syl-editor-container.font-size-16 p {
  margin-bottom: 18px;
}
.edit-plugin-tooltip {
  display: none;
  position: absolute;
  background: rgb(255, 255, 255);
  width: fit-content;
  min-width: 42px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}
.edit-plugin-tooltip .edit-plugin-rectangle {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  top: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transform-origin: center center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}
.syl-editor .syl-toolbar {
  display: none;
}
.edit-plugin-tooltip .edit-plugin-tooltip-content {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 34px;
  padding: 0px 12px;
  border-radius: 4px;
}
.publish-editor-speak {
  margin-top: 60px;
}
.publish-editor-speak-title {
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 12px;
  line-height: 22px;
}
.publish-editor-speak-input {
  height: 200px;
  font-size: 14px;
  line-height: 24px;
}
.common-input-hint.textarea {
  padding-bottom: 24px;
}
.common-input-hint {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.publish-editor-speak-input .byte-textarea-chapter {
  resize: none;
  background: transparent;
  padding: 22px 0px 0px;
  height: 188px;
  min-height: unset;
}
.byte-textarea-chapter {
  border-radius: 6px;
  border: none;
}
.common-input-hint-area {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}
.common-input-hint.textarea .common-input-hint-sign {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 12px;
  line-height: 2;
}
.common-input-hint-sign {
  margin-left: 10px;
  color: rgb(164, 164, 164);
}
.publish-editor-status {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 656px;
  height: 52px;
  padding-bottom: 8px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(164, 164, 164);
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
}
.publish-editor-status:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #f1f1f1;
}
.publish-editor-status-split {
  width: 1px;
  height: 12px;
  margin: 0px 12px;
  background-color: rgb(245, 245, 245);
}
.publish-editor-status-count {
  margin-left: 12px;
}
.font-2 {
  color: #a4a4a4;
}
.create-chapter-input-icon {
  float: right;
  cursor: pointer;
  margin-left: 67px;
  width: 19px;
  height: 19px;
  content: "";
  position: absolute;
  background: url("../../assets/tip.png");
  background-size: 19px 19px;
}
.title-label:hover {
  .font-2 {
    color: rgb(253, 127, 127) !important;
  }
  .create-chapter-input-icon {
    background: url("../../assets/tip-hover.png");
    background-size: 19px 19px;
  }
}
.chapter-title {
  border-bottom: solid 1px rgb(129, 129, 129);
}
.left-icon-chapter {
  margin-top: 1.5px;
  float: left;
  width: 15px;
  height: 15px;
  background-image: url("../../assets/return.png");
  background-size: 15px 15px;
}
.tomato-left:hover {
  color: rgb(255, 75, 75);
  .left-icon-chapter {
    background-image: url("../../assets/return-hover.png");
    background-size: 15px 15px;
  }
}
</style>