<template>
  <div>
    <div class="main" v-if="showPage">
      <div class="row pt32">
        <div class="qm-mod">
          <div class="qm-mod-th">
            <span class="tit"
              >共搜索到<span style="color: red">{{ totalSize }}</span
              >条结果</span
            >
          </div>
          <div class="qm-mod-tb">
            <div class="empty" v-if="empty">
              <div class="byte-empty serial-empty">
                <div class="byte-empty-wrapper">
                  <div class="byte-empty-image">
                    <img
                      alt="还没有创建过书本"
                      src="http://p1.pstatp.com/origin/pgc-image/81f16254fdb04e67b8f32e7e7e0821cf"
                    />
                  </div>
                  <div class="byte-empty-description">没有搜索到相关结果</div>
                </div>
              </div>
            </div>
            <ul class="qm-pic-txt pic-150-200 auto" size="middle">
              <li v-for="(item, index) in bookInfoItems" :key="index">
                <div class="pic">
                  <a @click="toBookInfo(item.bookId)"
                    ><img :src="item.bookImg" alt=""
                  /></a>
                </div>
                <div class="txt">
                  <span class="s-tit"
                    ><a @click="toBookInfo(item.bookId)"><div v-html="item.bookName"></div></a></span
                  >
                  <span class='s-txt'>
                    <div v-html="item.authorName"></div>
                  </span>
                  <span class="s-tags clearfix" size="14">
                    <span class="qm-tags left" size="14"
                      ><em class="orange">{{ item.bookStatus }}</em
                      ><em
                        target="_blank"
                        v-for="(tag, index) in item.tags"
                        :key="index"
                        >{{ tag }}</em
                      ></span
                    >&nbsp;&nbsp;&nbsp;&nbsp;{{
                      (item.wordCount / 10000).toFixed(2)
                    }}万字
                  </span>
                  <span class="s-des">{{ item.bookAbstract }}</span>
                  <p class="p-bottom">
                    <span class="s-txt">
                      <em>更新至：</em
                      ><a
                        @click="
                          toBookContent(item.bookId, item.lastChapterIndex)
                        "
                        >{{ item.lastChapterTitle }}</a
                      >&nbsp;&nbsp;&nbsp;&nbsp;<em class="fz12">{{
                        item.lastPublishTime
                      }}</em>
                    </span>
                  </p>
                </div>
                <div
                  class="btn addCollection"
                >
                  <a
                    @click="
                      startReader(item.bookId)
                    "
                    class="qm-btn gradient block"
                    size="40"
                    >立即阅读</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="qm-mod">
          <div class="qm-mod-tb">
            <ul class="qm-pic-txt pic-150-200 auto" size="middle"></ul>
          </div>
        </div>
      </div>
      <div
        class="byte-pagination muye-stack-pagination byte-pagination-size-default"
      >
        <div class="byte-pagination-option">
          <el-pagination
            background
            layout="prev, pager, next"
            @current-change="changePageFrom"
            :total="totalSize"
            :page-size="pageSize"
            :pager-count="pagerCount"
            :hide-on-single-page="true"
            :current-page="currentPage"
          >
          </el-pagination>
        </div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</template>

<script>
import callCommand from "../../utils/callCommand";
import globalVal from "../../utils/globalVal";
export default {
  data() {
    return {
      bookInfoItems: [],
      showPage: false,
      totalSize: 0,
      pageSize: 10,
      pageFrom: 0,
      currentPage: 1,
      pagerCount: 5,
      empty: false,
      content: "",
    };
  },
  methods: {
    toBookInfo(bookId) {
      this.$router.push({
        path: "/book",
        query: { bookId: bookId },
      });
    },
    toBookContent(bookId, index) {
      this.$router.push({
        path: "/content",
        query: { bookId: bookId, pageFrom: index },
      });
    },
    changePageFrom(val) {
      this.showPage = false;
      this.pageFrom = (val - 1) * this.pageSize;
      this.currentPage = val;
      var command = `$search --content '${this.content}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
      callCommand(command).then((res) => {
        this.bookInfoItems = res.data.data.bookInfoItems;
        this.totalSize = res.data.data.totalSize;
        this.showPage = true;
      });
    },
    startReader(bookId) {
      var command = `$user-read-book-info --userId '${globalVal.userId}' --bookId '${bookId}'`;
      callCommand(command).then((res) => {
        var index = res.data.data.index;
        this.$router.push({
          path: "/content",
          query: { bookId: bookId, pageFrom: index },
        });
      });
    },
  },
  mounted() {
    this.content = this.$route.query.content;
    var command = `$search --content '${this.content}' --pageFrom ${this.pageFrom} --pageSize ${this.pageSize}`;
    callCommand(command).then((res) => {
      this.totalSize = res.data.data.totalSize;
      this.bookInfoItems = res.data.data.bookInfoItems;
      this.showPage = true;
    });
    var _this = this;
    _this.timeId = setInterval(function() {
        var content = _this.$route.query.content;
        if (_this.content != content){
            _this.content = content;
            var command = `$search --content '${content}' --pageFrom ${_this.pageFrom} --pageSize ${_this.pageSize}`;
            callCommand(command).then(res =>{
                _this.bookInfoItems = res.data.data.bookInfoItems;
                _this.totalSize = res.data.data.totalSize;
            })
        }
      }, 300);
  },
};
</script>

<style lang='scss' scoped>
.main {
  margin: 15px 15px;
  width: 1220px;
  min-height: 600px;
  background-color: white;
  min-height: 700px;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}
.wrapper .row {
  padding-bottom: 24px;
}
.pt32 {
  padding-top: 2px;
}
.qm-mod-th,
.qm-mod-th-m,
.qm-mod-th-s {
  height: 34px;
  line-height: 34px;
}
.qm-mod-th {
  width: 95%;
  margin-left: 20px;
}
.qm-mod-th .tit,
.qm-mod-th-m .tit,
.qm-mod-th-s .tit {
  padding-left: 20px;
  font-size: 14px;
  color: rgb(83, 83, 83);
  float: left;
  font-family: SourceHanSerifCN-Bold;
}
.qm-pic-txt.pic-150-200,
.qm-pic-txt.pic-150-200 li {
  width: 100%;
  overflow: hidden;
}
.qm-pic-txt.pic-150-200 li:first-child {
  margin-top: 0;
}
.qm-pic-txt.pic-150-200 li {
  margin: 40px 0 0;
  height: 180px;
}
.qm-pic-txt.pic-150-200,
.qm-pic-txt.pic-150-200 li {
  width: 100%;
  overflow: hidden;
}
.qm-pic-txt li,
.qm-pic-txt li .pic {
  float: left;
  display: inline;
}
.qm-pic-txt.pic-150-200 li .pic {
  float: left;
  margin-right: 20px;
  width: 130px;

  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.qm-pic-txt li .pic a {
  display: block;
  position: relative;
}
a {
  text-decoration: none;
}
.qm-pic-txt li .pic img {
  width: 100%;
  display: block;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  border-radius: 5px;
}

.qm-pic-txt li .pic img:hover {
  transform: scale(1.2);
}

.p-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 3px;
}

.qm-pic-txt.pic-150-200 li .txt {
  float: left;
  width: 750px;
  height: 100%;
}
.qm-pic-txt[size="middle"] li .txt {
  font-size: 14px;
}
.qm-pic-txt li .txt {
  position: relative;
  overflow: hidden;
}
.qm-pic-txt[size="middle"] li .txt span.s-tit {
  font-size: 18px;
}

.qm-pic-txt li .txt span.s-tit {
  line-height: 22px;
  max-height: 44px;
  font-size: 16px;
  color: #222;
  padding-top: 4px;
  text-overflow: ellipsis;
}
.qm-pic-txt li .txt span.s-tit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.qm-pic-txt[size="middle"] li .txt span.s-tags {
  line-height: 22px;
}
.qm-pic-txt li .txt span.s-tags {
  padding-top: 8px;
  color: #999;
}
.qm-pic-txt li .txt span {
  display: block;
}

.qm-pic-txt li .txt span.s-tags .left {
  float: left;
}

.qm-pic-txt li .txt span {
  display: block;
}
.qm-tags {
  color: #999;
  font-size: 14px;
}

.qm-tags[size="14"] em {
  padding: 0 6px;
  line-height: 20px;
}
.qm-tags a:first-child,
.qm-tags em:first-child {
  margin-left: 0;
}
.qm-tags a.orange,
.qm-tags em.orange {
  background: #fca000;
  border-color: #fca000;
  color: #fff !important;
}
.qm-tags[size="14"] a,
.qm-tags[size="14"] em {
  padding: 0 6px;
  line-height: 20px;
}
.qm-tags a,
.qm-tags em {
  border: 1px solid #ddd;
  color: #999;
  margin-left: 8px;
  float: left;
  display: inline;
  white-space: nowrap;
  border-radius: 4px;
}
.qm-pic-txt[size="middle"] li .txt span.s-des {
  line-height: 20px;
  height: 40px;
}
.qm-pic-txt li .txt span.s-des {
  padding-top: 8px;
}
.qm-pic-txt li .txt span.s-des,
.qm-pic-txt li .txt span.s-name {
  color: #999;
}
.qm-pic-txt li .txt span.s-des,
.qm-pic-txt li .txt span.s-tit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.qm-pic-txt li .txt span.s-txt {
  line-height: 20px;
  padding-top: 8px;
  color: #666;
}
.qm-pic-txt li .txt span.s-txt em {
  color: #999;
}
.iconfont,
em,
i {
  font-style: normal;
}

.qm-pic-txt[size="middle"] li .txt span.s-txt .fz12 {
  font-size: 12px;
}
.qm-pic-txt li .txt span.s-txt em {
  color: #999;
}
.qm-pic-txt.pic-150-200 li .btn {
  float: left;
  width: 104px;
  vertical-align: middle;
}
.qm-pic-txt.pic-150-200 li .btn a {
  margin-top: 80px;
}
.qm-btn.gradient.block {
  padding: 1px;
}
.qm-btn[size="40"] {
  border-radius: 38px;
  line-height: 40px;
  height: 38px;
  font-size: 14px;
}

.addCollection {
  background: #ff834a;
  text-align: center;
  font-weight: 800;
  border-radius: 20px;
  color: #e9e9e9;
  margin-top: 80px;
  margin-left: 50px;
}

.addCollection:hover {
  background: #fc5c00;
}

.txt a:hover {
  color: #f87123;
}

.muye-stack-pagination.byte-pagination {
  padding-top: 62px;
  padding-bottom: 50px;
  justify-content: center;
}
.byte-pagination {
  display: flex;
  align-items: center;
}

.bottom {
  width: 100px;
  height: 100px;
}

.empty {
  text-align: center;
  padding-top: 180px;
}

.byte-empty {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.byte-empty-wrapper {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #c2c6cc;
}
.byte-empty-image {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1;
}
.empty img {
  width: 140px;
  height: 140px;
  border: 0;
  outline: 0;
}
.byte-empty-description {
  margin-top: -2px;
  color: #a4a4a4;
}

.cancelCollection {
  background: #f0f0f0;
  text-align: center;
  font-weight: 800;
  border-radius: 20px;
  color: #c0c0c0;
  margin-top: 80px;
  margin-left: 50px;
}

.cancelCollection:hover {
  background-color: rgb(129, 129, 129);
  color: white;
}
</style>