<template>
    <div class="container" v-if="showPage">
        <div class="book">
            <div class="book-info">
                <div class="book-img">
                    <img :src="bookInfo.bookImg">
                </div>
                <div class="book-desc">
                    <div class="book-name">
                        <span>{{bookInfo.bookName}}</span>
                    </div>
                    <div class="book-tags">
                        <span class="book-status">{{bookInfo.bookStatus}}</span>
                        <span class="book-tag" v-for="tag in bookInfo.bookTags" :key=tag>
                            <span>{{tag}}</span>
                        </span>
                    </div>
                    <div class="info-count">
                        <div class="word-count">
                            <span class="count-detail">{{bookInfo.wordCount}}</span>
                            <span class="count-text">万字</span>
                        </div>
                        <div class="reader-count">
                            <span class="count-detail">{{bookInfo.readerCount}}</span>
                            <span class="count-text">万人气</span>
                        </div>
                    </div>
                    <div class="book-last-update">
                        <span class="info-last-title">最近更新：{{bookInfo.lastChapterTitle}}</span>
                        <span class="info-last-time">{{bookInfo.lastPublishTime}}</span>
                    </div>
                    <button class="start-read"><a @click="startReader()">开始阅读</a></button>
                    <button class="collection"><a @click="addBookcase()">{{bookcase? '取消收藏': '加入收藏'}}</a></button>
                </div>
            </div>
            <div class="author-info">
                <img class="author-img" :src="authorInfo.image">
                <div class="author-name">
                    <span class="author-logo"></span>
                    <a @click="goToAuthorInfo()"><span>{{authorInfo.userName}}</span></a>
                </div>
                <div class="author-desc">
                    <span>{{authorInfo.description}}</span>
                </div>
                <button class="subscription" :class="subscriptionStatus? 'cancelSubscription': 'addSubscription'" @click="changeSubscriptionStatus">{{subscriptionStatus? '取消关注': '关注'}}</button>
            </div>
        </div>
        <div class="book-abstract">
            <div class="book-abstract-title">
                <span>作品简介</span>
            </div>
            <div class="book-abstract-content">
                <p>{{bookInfo.bookAbstract}}</p>
            </div>
        </div>
        <div class="book-directory">
            <div class="book-directory-title">
                <span>目录</span>
                <span class="directory-dot"></span>
                <span>{{directoryCount}}章</span>
            </div>
            <div class="book-directory-content">
                <div class="directory-title">
                    <div class="directory-title-items" v-for="(item, index) in bookInfo.directoryInfo" :key="item.itemId">
                        <a @click="readerBook(index)">{{item.title}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</template>

<script>
import callCommand from '../../utils/callCommand';
import globalVal from '../../utils/globalVal'

export default {
    data() {
        return{
            bookId: '',
            bookInfo: {},
            authorInfo: {},
            directoryCount: '',
            showPage: false,
            subscriptionStatus: 0,
            bookcase: 0,
        }
    },
    methods: {
        startReader(){
            var command = `$user-read-book-info --userId ${globalVal.userId} --bookId ${this.bookId}`
            callCommand(command).then(res => {
                var index = res.data.data.index;
                this.$router.push({path: '/content', query: {"bookId": this.bookId, "pageFrom": index}})
            })
        },
        readerBook(index){
            var command = `$set-user-read-book-info --userId ${globalVal.userId} --bookId ${this.bookId} --index ${index}`
            callCommand(command).then(res => {
                this.$router.push({path: '/content', query: {"bookId": this.bookId, "pageFrom": index}})
                this.reload();
            })
        },
        changeSubscriptionStatus(){
            if (this.subscriptionStatus == 1){
                var command = `$subscription-author --userId '${globalVal.userId}' --authorId '${this.bookInfo.authorId}' --subscription 0`;
            }else{
                var command = `$subscription-author --userId '${globalVal.userId}' --authorId '${this.bookInfo.authorId}' --subscription 1`;
            }
            callCommand(command).then(res => {
                this.subscriptionStatus ^= 1;
            })
        },
        addBookcase(){
            var type = this.bookcase ^ 1;
            var command = `$modify-bookcase --userId '${globalVal.userId}' --bookId '${this.bookId}' --type ${type}`
            callCommand(command).then(res => {
                this.bookcase ^= 1;
            })
        },
        goToAuthorInfo(){
            this.$router.push({path: '/author', query: {'authorId': this.bookInfo.authorId}});
        }
    },
    mounted: function () {
        this.$nextTick(() => {
            this.bookId = this.$route.query.bookId;
            let command = `$get-book-detail --bookId '${this.bookId}'`;
            callCommand(command).then(res =>{
                this.bookInfo = res.data.data;
                this.bookInfo.readerCount = (this.bookInfo.readerCount / 10000).toFixed(1);
                this.bookInfo.wordCount = (this.bookInfo.wordCount / 10000).toFixed(1);
                this.directoryCount = this.bookInfo.directoryInfo.length;
                let authorCommand=`$get-user-profile --userId '${this.bookInfo.authorId}'`;
                callCommand(authorCommand).then(res =>{
                    this.authorInfo = res.data.data;
                });
                var userCommand = `$subscription-status --userId '${globalVal.userId}' --authorId '${this.bookInfo.authorId}'`
                callCommand(userCommand).then(subs => {
                    this.subscriptionStatus = subs.data.data.status;
                });
                var collectionCommand = `$collection-status --userId '${globalVal.userId}' --bookId '${this.bookInfo.bookId}'`;
                callCommand(collectionCommand).then(res => {
                    this.bookcase = res.data.data.status;
                    this.showPage = true;
                })
            });
        })
    }
}
</script>

<style lang="scss" scoped>
.container{
    margin-top: 1px;
    height: 100%;
    display: block;
}

.book{
    margin: 20px 15px;
    height: 300px;
    background: #fff;
    position: relative;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
}

.book-info{
    height: 280px;
    padding: 30px 20px;
    position: relative;
    display: flex;
}

.book-img{
    border-radius: 5px;;
    width: 180px;
    height: 234px;
}

.book-img img{
    border-radius: 5px;;
    width: 100%;
    height: 100%;
}

.book-desc{
    margin-left: 15px;
}

.book-name{
    margin-top: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 500;
}

.book-tags{
    font-size: 16px;
    margin-top: 8px;
}

.book-tags .book-status{
    color: #fdae31;
    border: 1px solid #fdae31;
    padding: 0 7px;
    height: 22px;
    line-height: 22px;
    border-radius: 4px;
}

.book-tags .book-tag{
    color:lightskyblue;
    border: 1px solid lightskyblue;
    padding: 0 7px;
    height: 22px;
    line-height: 22px;
    border-radius: 4px;
    margin-left: 8px;
}

.info-count{
    margin-top: 18px;
    height: 28px;
    overflow: hidden;
}

.count-detail{
    font-size: 24px;
    line-height: 28px;
}

.count-text{
    opacity: .4;
    color: #000;
    font-size: 12px;
    margin-left: 8px;
    position: relative;
    top: -1px;
}

.info-count .word-count{
    display: inline-block;
}

.info-count .reader-count{
    margin-left: 32px;
    position: relative;
    display: inline-block;
}

.book-last-update{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-top: 30px;
}

.book-last-update .info-last-time{
    margin-left: 15px;
}

button{
    outline: none;
}

.start-read{
    margin-top: 14px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    background-color: #fa6725;
    text-align: center;
    border: none!important;
    padding: 0;
}

.start-read:hover{
    background-color: #f38a59;
}

.start-read a{
    color: #fff;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
}

.collection{
    margin: 14px 25px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: #f38a59;
    text-align: center;
    border: solid 1px #f38a59;
    padding: 0;
}

.collection:hover{
    background-color: #f8e6dd;
}

.collection a{
    color: #f38a59;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
}

.author-info{
    border-left: solid 1px rgb(209, 207, 207);
    width: 364px;
    float: right;
    text-align: center;
    margin: 30px 50px;
    position: relative;
    font-size: 0;
}

.author-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
}

.author-logo{
    display: inline-block;
    width: 47px;
    height: 20px;
    background-size: 100% 100%;
    background-image: url('../../assets/author.png');
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.author-name{
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    margin-top: 12px;
    color: black;
}

.author-name:hover{
   color: rgb(253, 110, 75);
}

.author-desc{
    margin: 8px auto 0;
    font-size: 12px;
    line-height: 17px;
    width: 174px;
    color: rgba(0,0,0,.4);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.subscription{
    border-radius: 4px;
    font-size: 16px;
    margin: 40px auto 0;
    height: 36px;
    width: 84px;
    line-height: 34px;
    padding: 0;
    border: 1px solid;
    background-color: transparent;
}

.addSubscription{
    border-color: #fa6725;
    color: #fa6725;
}

.addSubscription:hover{
    background-color:rgb(247, 194, 176);
}

.cancelSubscription{
    border-color: #b1b0b0;
    color: #cecdcd;
}

.cancelSubscription:hover{
    background-color:rgb(190, 189, 189);
    color: rgb(235, 235, 235);
}

.book-abstract{
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 20px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.book-abstract-title{
    font-size: 24px;
    color: rgba(0,0,0,.85);
    height: 33px;
    line-height: 33px;
    position: relative;
    font-weight: 500;
    border-bottom: solid 1px rgba(131, 130, 130, 0.4);
}

.book-abstract-content{
    margin: 30px auto 46px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 24px;
    max-height: 72px;
    color: #666;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.book-directory{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 20px 100px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
    background-color: #fff;
    z-index: 10;
}

.book-directory-title{
    font-size: 24px;
    color: rgba(0,0,0,.85);
    height: 33px;
    line-height: 33px;
    position: relative;
    font-weight: 500;
    border-bottom: solid 1px rgba(131, 130, 130, 0.4);
}

.directory-dot{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: rgba(0,0,0,.85);
    position: relative;
    top: -4px;
}

.book-directory-content{
    margin-top: 44px;
    padding: 0 30px;
    position: relative;
    display: flex;
}

.directory-title-items{
    margin-top: 20px;
    width: 288px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin-right: 88px;
    font-size: 14px;
}

.directory-title-items a{
    color: #666;
    max-width: 256px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.directory-title-items a:hover{
    color: rgb(253, 110, 75);
}

.bottom{
    height: 100px;
    width: 100%;
}


</style>