<template>
  <div id="wrapper" class="">
    <div id="nav"></div>
    <div id="content">
      <div class="mod-new-reg-bg">
      </div>
      <div class="mod-new-reg-wrapper">
        <div class="mod-new-reg-logo">
          
        </div>
        <div class="mod-new-reg-text">
          <h3>用科技</h3>
          <p>让复杂的世界更简单</p>
        </div>
      </div>
      <div class="mod-reg clearfix mod-reg- mod-new-reg-content">
        <div class="new-reg-guide-login">
          <h3>重置密码</h3>
        </div>
        <div class="reg-content tang-pass-reg" id="reg_content">
          <form
            autocomplete="off"
            id="TANGRAM__PSP_4__form"
            class="new-reg-v5"
            method="POST"
          >
            <p id="TANGRAM__PSP_4__hiddenFields" style="display: none">
            <p
              id="TANGRAM__PSP_4__phoneWrapper"
              class="pass-form-item pass-form-item-phone"
              style="display: "
            >
              <label
                for="TANGRAM__PSP_4__phone"
                id="TANGRAM__PSP_4__phoneLabel"
                class="pass-label pass-label-phone"
                >手机号</label
              ><input type="text" style="display: none" /><input
                id="TANGRAM__PSP_4__phone"
                type="text"
                name="phone"
                class="pass-text-input pass-text-input-phone"
                maxlength="11"
                autocomplete="off"
                value=""
                placeholder="可用于登录和找回密码"
                @focus="onfocusPhone()"
                @blur="onblurPhone()"
                :class="{inputFocus: phoneInputFocus, inputError: phoneInputError}"
                v-model="phone"
              /><span
                id="TANGRAM__PSP_4__phone_clearbtn"
                class="pass-clearbtn pass-clearbtn-phone"
                style="display: none"
              ></span
              ><span
                id="TANGRAM__PSP_4__phoneError"
                class="pass-item-error pass-item-error-phone"
              >{{phoneErrorTip}}</span
              ><span
                id="TANGRAM__PSP_4__phoneSucc"
                class="pass-item-succ pass-item-succ-phone"
                :class="phoneSucc ? 'display-inline': 'display-none'"
              ></span
              ><span
                id="TANGRAM__PSP_4__phoneTip"
                class="pass-item-tip pass-item-tip-phone"
                style="display: none"
                ><span
                  id="TANGRAM__PSP_4__phoneTipText"
                  class="pass-item-tiptext pass-item-tiptext-phone"
                  >请输入中国大陆手机号,其他用户不可见</span
                ></span
              >
            </p>
            <input type="password" name="password" style="display: none" />
            <p
              id="TANGRAM__PSP_4__passwordWrapper"
              class="pass-form-item pass-form-item-password"
              style="display: "
            >
              <label
                for="TANGRAM__PSP_4__password"
                id="TANGRAM__PSP_4__passwordLabel"
                class="pass-label pass-label-password"
                >密　码</label
              ><input type="password" style="display: none" /><input
                id="TANGRAM__PSP_4__password"
                :type="passwordType? 'text': 'password'"
                name="password"
                class="pass-text-input pass-text-input-password"
                autocomplete="off"
                value=""
                placeholder="请设置登录密码"
                @focus="onfocusPassword()"
                @blur="onblurPassword()"
                :class="{inputFocus: passwordInputFocus, inputError: passwordInputError}"
                v-model="password"
              /><span
                id="TANGRAM__PSP_4__password_clearbtn"
                class="pass-clearbtn pass-clearbtn-password"
                style="display: none"
              ></span
              >
              <span class="change-password-type" id="TANGRAM__PSP_4__changePwdType" style="display:inline"></span>
              <span
                id="TANGRAM__PSP_4__passwordError"
                class="pass-item-error pass-item-error-password"
                style="display: inline;"
                ><span class="pwd-strength nopwd"
                  >
                  {{passwordErrorTip}}</span
                ></span
              ><span
                id="TANGRAM__PSP_4__passwordSucc"
                class="pass-item-succ pass-item-succ-password"
                :class="passwordSucc ? 'display-inline': 'display-none'"
              ></span
              ><span
                id="TANGRAM__PSP_4__passwordTip"
                class="pass-item-tip pass-item-tip-password"
                :style="focusPassword"
                ><span
                  id="TANGRAM__PSP_4__passwordTipText"
                  class="pass-item-tiptext pass-item-tiptext-password"
                  ><div class="pwd-checklist-wrapper">
                    <ul id="TANGRAM__PSP_4__pwdChecklist" class="pwd-checklist">
                      <li
                        id="TANGRAM__PSP_4__pwd_checklist_len"
                        data-rule="len"
                        class="pwd-checklist-item"
                      >
                        长度为8~14个字符
                      </li>
                      <li
                        id="TANGRAM__PSP_4__pwd_checklist_cha"
                        data-rule="cha"
                        class="pwd-checklist-item"
                      >
                        字母/数字以及下划线至少包含2种
                      </li>
                      <li
                        id="TANGRAM__PSP_4__pwd_checklist_spa"
                        data-rule="spa"
                        class="pwd-checklist-item"
                      >
                        不允许有空格、中文
                      </li>
                    </ul>
                  </div></span
                ></span
              ><span
                class="change-password-type"
                id="TANGRAM__PSP_4__changePwdType"
                :style="passwordSucc? 'display: inline': 'display: none'"
                :class="passwordType? 'password-type-text': 'password-type-pass'"
                @click="changePasswordType()"
              ></span
              ><span
                class="new-password-tip"
                id="TANGRAM__PSP_4__newPwdTip"
              ></span>
            </p>
            <p
              id="TANGRAM__PSP_4__verifyCodeSendWrapper"
              class="pass-form-item pass-form-item-verifyCodeSend"
            >
              <label
                for="TANGRAM__PSP_4__verifyCode"
                id="TANGRAM__PSP_4__verifyCodeLabel"
                class="pass-label pass-label-verifyCode"
                >验证码</label
              ><input
                id="TANGRAM__PSP_4__verifyCode"
                type="text"
                name="verifyCode"
                class="pass-text-input pass-text-input-verifyCode"
                autocomplete="off"
                maxlength="6"
                placeholder="请输入验证码"
                @focus="onfocusverifyCode()"
                @blur="onblurverifyCode()"
                :class="{inputFocus: verifyCodeInputFocus, inputError: verifyCodeInputError}"
                v-model="verifyCode"
              /><span
                id="TANGRAM__PSP_4__verifyCode_clearbtn"
                class="pass-clearbtn pass-clearbtn-verifyCode"
                style="display: none"
              ></span
              ><input
                id="TANGRAM__PSP_4__verifyCodeSend"
                type="button"
                value="获取验证码"
                class="pass-button pass-button-verifyCodeSend"
                autocomplete="off"
                @click="send_verify_code()"
              /><span
                id="TANGRAM__PSP_4__verifyCodeError"
                class="pass-item-error pass-item-error-verifyCodeSend"
              >{{verifyCodeErrorTip}}</span
              ><span
                id="TANGRAM__PSP_4__verifyCodeSendTip"
                class="pass-item-tip pass-item-tip-verifyCodeSend"
              ></span>
            </p>
            <p
              id="TANGRAM__PSP_4__errorWrapper"
              class="pass-generalErrorWrapper"
            >
              <span id="TANGRAM__PSP_4__error" class="pass-generalError"></span>
            </p>
            <p
              id="TANGRAM__PSP_4__submitWrapper"
              class="pass-form-item pass-form-item-submit pass-form-item-submit-v5"
            >
              <input 
                id="TANGRAM__PSP_4__submit"
                type="button"
                value="提交"
                class="pass-button pass-button-submit"
                :class="phoneSucc && passwordSucc && verifyCode? 'button-submit-finish': 'button-submit'"
                @click="register_user()"
              />
            </p>
          </form>
        </div>
        <div class="href-group-inline">
            <div class="href-item"><router-link to="/bookstore">立即登录</router-link></div>
            <div class="href-item"><router-link to="/register">立即注册</router-link></div>
        </div>
      </div>
      <el-dialog :visible.sync="registerSucc" width="280px" center top="15vh" :close-on-click-modal="false" :show-close="false">
          <div class="success">
            <img :src="regisetSuccImg" class="register-success-img"/>
            <span class="register-success">重置成功</span>
          </div>
          <div class="redirect-login">
            <span style="color: red;">{{dtime}}</span>s后跳转到登入界面>>
          </div>
        </el-dialog>
    </div>
  </div>
</template>
<script>
import sendVerifyCode from '../../utils/sendVerifyCode';
import resetPassword from '../../utils/resetPassword';
import regisetSuccImg from '@/assets/success.png'

export default {
  data() {
    return {
      focusPassword: 'display: none',
      passwordErrorTip: '',
      phoneErrorTip: '',
      verifyCodeErrorTip: '',
      phoneInputFocus: false,
      phoneInputError: false,
      phoneSucc: false,
      passwordInputFocus: false,
      passwordInputError: false,
      passwordSucc: false,
      verifyCodeInputFocus: false,
      verifyCodeInputError: false,
      phone: '',
      password: '',
      verifyCode: '',
      passwordType: false,
      verify_code: '',
      registerSucc: false,
      regisetSuccImg: regisetSuccImg,
      dtime: '',
    }
  },
  methods: {
    onfocusPassword(){
      this.focusPassword = "display:block;"
      this.passwordErrorTip = ''
      this.passwordInputFocus = true;
      this.passwordInputError = false;
    },
    onblurPassword(){
      this.focusPassword = "display: none;"
      this.passwordErrorTip = ''
      this.passwordInputFocus = false;
      this.passwordInputError = true;
      this.passwordSucc = false;
      if (/^(\w|\d|.)+$/.test(this.password)){
        if (this.password.length > 14 || this.password.length < 8){
          this.passwordErrorTip = '密码长度应为8~14个字符'
        }else if (/^\d+$/.test(this.password) || /^[a-zA-Z]$/.test(this.password) || /^_+$/.test(this.password)){
          this.passwordErrorTip = '字母/数字以及下划线至少包含2种'
        }else{
          this.passwordInputError = false;
          this.passwordSucc = true;
        }
      }else{
        this.passwordErrorTip = '密码设置不符合要求'
      }
    },
    onfocusPhone(){
      this.phoneErrorTip = ''
      this.phoneInputFocus = true;
      this.phoneInputError = false;
    },
    onblurPhone(){
      this.phoneErrorTip = ''
      this.phoneInputFocus = false;
      this.phoneInputError = true;
      this.phoneSucc = false;
      if (this.phone.length != 11 || !(/^\d+$/.test(this.phone))){
        this.phoneErrorTip = '手机号码格式不正确'
      }else{
        this.phoneInputError = false;
        this.phoneSucc = true;
      }
    },
    onfocusverifyCode(){
      this.verifyCodeErrorTip = ''
      this.verifyCodeInputFocus = true;
      this.verifyCodeInputError = false;
    },
    onblurverifyCode(){
      if (this.verifyCode.length != 6){
          this.verifyCodeErrorTip = '验证码为六位数';
          this.verifyCodeInputError = true;
      }else{
        this.verifyCodeInputError = false;
      }
      this.verifyCodeInputFocus = false;
    },
    send_verify_code(){
      sendVerifyCode(this.phone).then(res => {
        this.verify_code = res.data.data;
      })
    },
    changePasswordType(){
      this.passwordType = !this.passwordType;
    },
    register_user(){
      if (this.phoneSucc && this.passwordSucc){
        if (this.verify_code != this.verifyCode && this.verify_code != ''){
            this.verifyCodeErrorTip = '短信验证码错误'
        }else{
            resetPassword(this.phone, this.password).then(res => {
                this.register_success();
            })
        }
      }
    },
    register_success(){
      var dtime = 5;
      var _this = this;
      _this.timeId = setInterval(function() {
        _this.registerSucc = true;
        if(dtime == 0){
          _this.dtime = dtime;
          _this.registerSucc = false;
          _this.$router.push({path: './bookstore'});
          clearInterval(_this.timeId);
        };
        if (dtime > 0){
          _this.dtime = dtime;
          dtime = dtime - 1;
        };
    }, 1000);
    }
  }
};
</script>

<style lang="scss" scoped>

div {
    display: block;
}

.content{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.mod-new-reg-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2553799635,2221616996&fm=26&gp=0.jpg") no-repeat;
    background-size: cover;
}

.mod-new-reg-wrapper .mod-new-reg-logo {
    position: fixed;
    left: 70px;
    top: 60px;
    width: 124.4px;
    height: 40px;
}

.mod-new-reg-wrapper .mod-new-reg-logo img {
    width: 100%;
    height: 100%;
}


.mod-new-reg-text {
    position: fixed;
    left: 195px;
    top: 310px;
    color: #fff;
}

.mod-new-reg-text h3 {
    font-size: 50px;
    letter-spacing: 0;
    font-weight: 600;
}

.mod-new-reg-text p {
    font-size: 30px;
    letter-spacing: 3.81px;
    font-weight: 300;
    margin-top: -35px;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mod-new-reg-content {
    height: 525px;
    margin-top: -246px;
    position: absolute;
    right: 139px;
    top: 50%;
    width: 480px;
    background: rgba(255,255,255,.9);
    border-radius: 6px;
    overflow: hidden;
}

.display-inline{
  display: inline;
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.tang-pass-reg .change-password-type {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 386px;
    background-size: 100%;
}

.password-type-pass{
  background: url("https://passport.baidu.com/static/passpc-account/img/reg/hide-2x.png") center no-repeat;
}

.password-type-pass:hover{
  background: url("https://passport.baidu.com/static/passpc-account/img/reg/hide-2x-hover.png") center no-repeat;
}

.password-type-text{
  background: url("https://passport.baidu.com/static/passpc-account/img/reg/show-2x.png") center no-repeat;
}

.password-type-text:hover{
  background: url("https://passport.baidu.com/static/passpc-account/img/reg/show-2x-hover.png") center no-repeat;
}

.new-reg-guide-login {
    display: block;
    margin: 20px 0 22px 39px;
}

.new-reg-guide-login h3 {
    font-size: 36px;
    color: #000;
    padding-bottom: 0px;
}

.mod-new-reg-content .new-reg-guide-login p {
    font-size: 14px;
    color: #9B9B9B;
    margin-top: -30px;
}

.new-reg-guide-login p span {
    color: #2e58ff;
    cursor: pointer;
}

.tang-pass-reg {
    padding-top: 28px;
    position: relative;
    width: 720px;
    overflow: hidden;
    float: left;
}

form {
    display: block;
}

p {
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input{
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    border: 1px solid #E0E0E0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    font: 400 13.3333px Arial;
}

input::-webkit-input-placeholder{
   color:rgb(179, 174, 174);
   font-size: 14px;
   text-align: left;
   font-family: Arial,Helvetica,STHeiti,"宋体";
}


input[type="hidden" i] {
    display: none;
    appearance: initial;
    background-color: initial;
    cursor: default;
    border: initial;
}

.tang-pass-reg .pass-form-item {
    margin-bottom: 40px;
    position: relative;
    clear: both;
    zoom: 1;
}

.tang-pass-reg .pass-form-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.tang-pass-reg .pass-suggest-name.low-ie-name {
    border: 0;
}

.tang-pass-reg .pass-suggest-name {
    position: absolute;
    left: 97px;
    top: 91px;
    width: 342px;
    border-radius: 4px;
    z-index: 99;
    margin-left: 0;
}

.tang-pass-reg .pass-label {
    font-size: 16px;
    color: #333;
    letter-spacing: 0;
    text-align: right;
    width: 82px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    font-weight: 200;
    display: block;
    float: left;
}

.tang-pass-reg .pass-item-succ {
    left: -38px;
    top: 12px;
    background: url("https://passport.baidu.com/static/passpc-account/img/setpwd-success-2x.png") no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: relative;
    float: left;
    line-height: 12px;
    padding-left: 20px;
}


.tang-pass-reg .pass-text-input {
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
    outline: none;
}
.tang-pass-reg .pass-text-input {
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    transition: .3s;
}

.inputFocus{
  border-color: rgb(59, 117, 224) !important;
}

.tang-pass-reg .pass-text-input:hover{
  border: solid 1px #7b858f;
}

#TANGRAM__PSP_4__userNameTip {
    width: 317px;
    height: 39px;
    position: absolute;
    left: 97px;
    top: -37px;
    text-align: center;
    color: #fff;
    background: url("https://passport.baidu.com/static/passpc-account/img/reg/check-username-bg-2x.png") no-repeat;
    background-size: 100%;
    font-size:8px;
}

.inputError{
  border-color: red !important;
}


.tang-pass-reg .pass-item-tiptext-userName {
    display: block;
    padding: 8px 0;
}

.tang-pass-reg .pass-item-error-password {
    position: absolute;
    left: 97px;
    height: 16px;
    padding: 0;
    top: 43px;
}
.tang-pass-reg .pass-item-error {
    width: 332px;
    color: #fff;
    padding-left: 0;
    top: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 9px 0 6px 13px;
    font-size: 12px;
    line-height: 14px;
}

.pass-item-error.pass-item-error-userName, .pass-item-error.pass-item-error-phone {
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 43px;
}

.tang-pass-reg .pass-item-error-password .nopwd .pwd-strength-detail {
    padding: 0;
    background: 0 0;
    margin-top: 0;
    color: #F55;
}

.tang-pass-reg .pass-item-error-password {
    position: absolute;
    left: 97px;
    height: 16px;
    padding: 0;
    top: 43px;
    float: left;
    background: 0 0;
    color: #F55;
}

.tang-pass-reg .pass-item-tip-password {
    display: none;
    width: 317px;
    height: 79px;
    top: -85px;
    left: 122px;
    background: url("https://passport.baidu.com/static/passpc-account/img/check-pwd-bg-2x.png") no-repeat;
    background-size: 100%;
    position: absolute;
    zoom: 1;
    z-index: 20;
    text-align: center;
    color: #fff;
}

.tang-pass-reg .pass-form-item-verifyCodeSend span.pass-item-error {
    margin-left: 97px;
    padding: 0px 0 0;
    color: #F55;
    background: 0 0;
    position: absolute;
    left: 0;
    top: 38px;
    line-height: 24px;
}

.tang-pass-reg .pwd-checklist {
    background: 0 0;
    box-shadow: none;
    border: 0;
    padding: 0px 0;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    margin-left: 9px;
    width: 317px;
}

.tang-pass-reg .pwd-checklist .pwd-checklist-item {
    line-height: 18px;
    background: 0 0;
    padding-left: 0;
    color: #fff;
    position: relative;
}

.new-reg-v5 .pass-form-item.pass-form-item-verifyCodeSend {
    margin-bottom: 0;
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
}

.tang-pass-reg .pass-text-input-verifyCode {
    width: 184px;
    margin-right: 9px;
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    color: #000;
    outline: none;
}

.tang-pass-reg input.pass-button-verifyCodeSend {
    width: 126px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    outline: none;
}
.tang-pass-reg input.pass-button-verifyCodeSend {
    height: 40px;
    font-weight: 400;
    float: left;
    margin-right: 10px;
}

.tang-pass-reg input.pass-button-verifyCodeSend:hover {
    border: 1px solid #829eec;
    color: rgb(127, 180, 230);
}

.tang-pass-reg .pass-generalErrorWrapper {
    position: absolute;
}
.tang-pass-reg .pass-generalErrorWrapper {
    margin: 0;
    padding: 0;
}

.tang-pass-reg .pass-form-item-submit {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    left: 41px;
    position: relative;
}

.mod-reg .tang-pass-reg .pass-button-submit {
    border-radius: 25px;
    width: 399px;
    float: left;
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-align: center;
    line-height: 32px;
}

.button-submit{
  background: #BDCEFC;
  outline: none;
}

.button-submit-finish{
  background: #4465c0;
  outline: none;
}

.ssosdk-container .href-group-inline {
    width: 100%;
    padding: 80px 0;
    display: flex;
    margin-top: 36px;
}

.href-item:first-child {
    padding-left: 160px;
    border-right: 2px solid #c0bebe;
}

.href-item {
    display: inline-block;
    padding: 0 24px;
    color: #666;
    font-size: 15px;
    line-height: 8px;
    cursor: pointer;
}

.href-item:hover{
    color: black;
}

.success{
  position: relative;
  display: flex;
  padding: 0px 0px 10px;
  background-color: #ffffff;
}

.register-success-img{
  width: 60px;
  height: 60px;
}

.register-success{
  padding-top: 10px;
  font-size: 30px;
  color: rgb(68, 68, 66);
}

.redirect-login{
  margin-left: 100px;
  position: relative;
  display: flex;
  text-align: right;
  color: rgb(124, 124, 122);
  font-size: 8px;
}
</style>